{% extends "IntractoSecretSantaBundle::base.html.twig" %}

{% block header %}
    <div class="steps">
        <h2>Your gift exchange event <br/>in <span class="accent">3 easy steps</span></h2>
        <ul class="liststyle1">
            <li><span class="icon-steps">1</span> List your participants</li>
            <li><span class="icon-steps">2</span> Customize your email</li>
            <li><span class="icon-steps">3</span> Send!</li>
        </ul>
        <div class="text-center">
            <a href="#mysanta" class="btn-started">Get Started!</a>
        </div>
    </div>
{% endblock %}

{% block main %}

    <div class="box">
        <h2>What is Secret Santa?</h2>

        <p>It’s a <strong>free</strong> online Secret Santa <strong>gift exchange organizer</strong>! Organize a Secret
            Santa party with friends, family or even co-workers.</p>

        <p>Each year around <strong>Christmas</strong> time people all over the world exchange gifts.<br/>
            To keep things interesting though, you can <strong>randomly assign persons to each other</strong> to give a
            present to one another.</p>
    </div>
    <div class="content-container" id="mysanta">
        <div class="santa-content">

            <h1>Add your participants</h1>

            <form action="{{ path('pool_create') }}#mysanta" method="POST" {{ form_enctype(form) }} novalidate>
                {{ form_row(form._token) }}
                <table class="entries table table-striped mysanta">
                    <thead>
                    <tr>
                        <th class="span1 entry-number-header">#</th>
                        <th class="span3">Name</th>
                        <th class="span4">E-mail</th>
                        <th style="text-align: right;" class="span4">
                            <button type="button" class="btn btn-mini btn-success add-new-entry"><i
                                        class="icon-plus-sign icon-white"></i> Add person
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody data-prototype="{% filter escape %}{% include 'IntractoSecretSantaBundle:Helpers:prototypeEntry.html.twig' with {'entry': form.entries.vars['prototype']} %}{% endfilter %}">
                    {% for entry in form.entries %}
                        <tr class="entry {% if loop.index == 1 %}owner{% else %}not-owner{% endif %}{% if form_errors(entry.name) or form_errors(entry.email) %} error{% endif %}">
                            <td class="entry-number">{{ loop.index }}</td>
                            <td>{{ form_widget(entry.name, {'attr': {'class': 'entry-name'} }) }}</td>
                            <td>{{ form_widget(entry.email, {'attr': {'class': 'entry-mail'} }) }}</td>
                            <td style="text-align: right;">
                                {% if loop.index == 1 %}
                                    <small>This person is also your list administrator.</small>
                                {% else %}
                                    <button type="button" class="btn btn-mini btn-danger remove-entry disabled"><i
                                                class="icon-minus-sign icon-white"></i> Remove this person
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h1>Customize your email</h1>

                <div class="description">This is the email message the participants will receive. Adjust the copy to
                    your liking.
                </div>
                {{ form_widget(form.message, {'attr': {'rows': '8', 'class': 'field span12'} }) }}<br/>

                <div class="description">The (NAME) tag will be changed to the person receiving this message. You can
                    copy the tag (with parentheses) to other parts of the message.
                </div>

                <p>
                    <button type="submit" class="btn btn-large btn-primary btn-create-event"><i class="icon-ok icon-white"></i> Create
                        your event!
                    </button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     {% javascripts
     '@IntractoSecretSantaBundle/Resources/public/js/jquery.smooth-scroll.min.js'
     '@IntractoSecretSantaBundle/Resources/public/js/pool.create.js' %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}
