{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>Exclude</h1>

        {{ form_start(form) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="span1">#</th>
                <th class="span3">Name</th>
                <th>Exclude</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in form.entries %}
                <tr class="entry">
                    <td class="entry-number">{{ loop.index }}</td>
                    <td>{{ entry.excluded_entries.vars.label }}</td>
                    <td {% if form_errors(entry.excluded_entries) %}class="error"{% endif %}>{{ form_widget(entry.excluded_entries,
                        {'attr': {'placeholder': 'Click en choose the participants you want to exclude'} } ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <button type="submit" class="btn btn-large btn-primary btn-create-event">
                <i class="icon-ok icon-white"></i> Create your event!
            </button>
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/select2/select2.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('select[name^="intracto_secretsantabundle_poolexcludeentrytype[entries]"]').select2();
        })
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/select2/select2.css') }}" rel="stylesheet" media="screen">
    {{ parent() }}
{% endblock %}