{% extends "base.html.twig" %}

{% block main %}
    <div class="box">
        <a href="{{ path('party_manage', {'listurl': party.listurl}) }}" ><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ 'participant-expose_all.back'|trans }}</a>
        <h1>{{ 'participant-expose_all.title'|trans }}</h1>
        <table id="all_matches" cellspacing="0" cellpadding="3" class="table table-striped table-hover mysanta">
            <thead>
                <tr>
                    <th><strong>{{ "participant-expose_all.giving"|trans }}</strong></th>
                    <th>&nbsp;</th>
                    <th><strong>{{ "participant-expose_all.receiving"|trans }}</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for participant in party.participants %}
                <tr>
                    <td>{{ participant.name }} ({{ participant.email }})</td>
                    <td>&raquo;</td>
                    <td>{{ participant.assignedParticipant.name }} ({{ participant.assignedParticipant.email }})</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock main %}
