{% extends "base.html.twig" %}

{% block main %}
    <div class="box">
        <h1>{{ 'participant_unsubscribe.title' | trans}}</h1>
        <p>{{ 'participant_unsubscribe.unsubscribe_for' | trans({'%date%': party.eventDate |date("d/m/Y") ,  '%location%': party.location}) }}</p>
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ 'participant_unsubscribe.info_confirmation' | trans | raw}}
        </div>

        <form action="POST">
            <input type="radio" id="current" name="unsubscribeOptions" value="current">
            <label for="current">{{ 'participant_unsubscribe.unsubscribe_current_label'|trans }}</label>
            <br>
            <input type="radio" id="all" name="unsubscribeOptions" value="all">
            <label for="all">{{ 'participant_unsubscribe.unsubscribe_all_label'|trans }}</label>
            <br>
            <input type="radio" id="blacklist" name="unsubscribeOptions" value="blacklist">
            <label for="blacklist">{{ 'participant_unsubscribe.unsubscribe_blacklist'|trans }}</label>
        </form>
        
        <div class="alert alert-danger"  id="blacklistAlert" role="alert" style="display: none;">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ 'participant_unsubscribe.blacklist_warning' | trans | raw}}
        </div>
        <button type="submit" id="unsubscribe_button" class="btn btn-danger">{{ 'participant_unsubscribe.unsubscribe_confirm_btn' |trans }}</button>
    </div>
{% endblock main %}
{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript">
        $('#unsubscribe_blacklist').change(function(){
            $('#blacklistAlert').toggle();
        });
    </script>
{% endblock javascripts %}
