{% extends "base.html.twig" %}

{% block metadata %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {% for i in 1..21 %}
            {% if ('static-faq.question' ~ i)|trans != 'static-faq.question' ~ i %}
                {
                    "@type": "Question",
                    "name": "{{ ('static-faq.question' ~ i)|trans }}",
                    "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ ('static-faq.answer' ~ i)|trans({
                        '%requestForgotLink%': path('forgot_url'),
                        '%requestReuseLink%': path('request_reuse_url'),
                        '%contactLink%': path('contact'),
                    })|raw|striptags }}"
                    }
                }{{ not loop.last ? ',' }}
            {% endif %}
        {% endfor %}
    ]
}
</script>
{% endblock %}

{% block main %}
    <div class="box">
        <h2>{{ 'static-faq.title'|trans }}</h2>
        {{ 'static-faq.intro'|trans|raw }}

        {% for i in 1..21 %}
            {% if ('static-faq.question' ~ i)|trans != 'static-faq.question' ~ i %}
                <a name="{{ ('static-faq.anchor' ~ i)|trans }}"></a>
                <h2>{{ ('static-faq.question' ~ i)|trans }}</h2>
                {{ ('static-faq.answer' ~ i)|trans(
                    {
                        '%requestForgotLink%': path('forgot_url'),
                        '%requestReuseLink%': path('request_reuse_url'),
                        '%contactLink%': path('contact'),
                    }
                )|raw }}
            {% endif %}
        {% endfor %}

        <p>
            <a href="{{ url('homepage') }}" class="btn btn-large btn-primary">{{ 'static-faq.create_new_list'|trans }}</a>
        </p>
    </div>
{% endblock %}
