{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block header %}
    <div class="steps">
        <h2>{{ 'entry_show_base.headers.title'|trans|raw }}</h2>
        <ul class="liststyle1">
            <li><strong>{{ 'entry_show_base.headers.date'|trans }} </strong> {{ entry.pool.eventdate|localizeddate('medium', 'none') }}</li>
            <li><strong>{{ 'entry_show_base.headers.location'|trans }}</strong> {{ entry.pool.location }}</li>
            <li><strong>{{ 'entry_show_base.headers.amount'|trans }} </strong> {{ entry.pool.amount }}</li>
            <li><strong>{{ 'entry_show_base.headers.num_people'|trans }} </strong> {{ entry.pool.entries|length }}</li>
            <li><strong>{{ 'entry_show_base.headers.person_created_list'|trans }} </strong> <span data-hj-masked>{{ entry.pool.entries|first.email }}</span>
        </ul>
    </div>
{% endblock %}
