{% extends "IntractoSecretSantaBundle::base.html.twig" %}

{% block header %}
    <div class="steps">
        <h2>{{ 'party-create.header.steps.title'|trans|raw }}</h2>
        <ul class="liststyle1">
            <li><span class="icon-steps">1</span> {{ 'party-create.header.steps.list.one'|trans }}</li>
            <li><span class="icon-steps">2</span> {{ 'party-create.header.steps.list.two'|trans }}</li>
            <li><span class="icon-steps">3</span> {{ 'party-create.header.steps.list.three'|trans }}</li>
        </ul>
        <div class="text-center">
            <a href="#mysanta" class="btn-started">{{ 'party-create.header.steps.get_started'|trans }}</a>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="box">
        <h2>{{ 'party-create.what_is.title'|trans }}</h2>
        {{ 'party-create.what_is.intro'|trans|raw }}
    </div>
    <div class="content-container" id="mysanta">
        <div class="santa-content">
            <h1>{{ 'party-create.add_participants'|trans }}</h1>
            {{ form_start(form) }}
                {{ form_row(form._token) }}
                <div class="toplabels">
                    <div class="form-group form-create-party {% if form_errors(form.eventdate) %}error{% endif %}">
                        {{ form_label(form.eventdate) }}
                        {{ form_widget(form.eventdate, { 'attr': { 'class': 'form-control' }}) }}
                    </div>
                    <div class="form-group form-create-party {% if form_errors(form.location) %}error{% endif %}">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group form-create-party {% if form_errors(form.amount) %}error{% endif %}">
                        {{ form_label(form.amount) }}
                        {{ form_widget(form.amount, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="clearfix"></div>
                <table class="entries table table-striped mysanta">
                    <thead>
                    <tr>
                        <th class="col-xs-1 entry-number-header">#</th>
                        <th class="col-xs-4 col-md-4">{{ 'party-create.label.host'|trans }}</th>
                        <th class="col-xs-4 col-md-4">{{ 'party-create.label.email'|trans }}</th>
                        <th style="text-align: right;" class="col-xs-3"></th>
                    </tr>
                    </thead>
                    <tbody data-prototype="{% filter escape %}
                    {% include 'IntractoSecretSantaBundle:Helpers:prototypeEntry.html.twig' with
                    {'entry': form.participants.vars['prototype']} %}{% endfilter %}">
                    {% for participant in form.participants %}
                        <tr class="entry {% if participant.vars.data.partyAdmin %}owner
                        {% else %}not-owner{% endif %}
                        {% if form_errors(participant.name) or form_errors(participant.email) %} error{% endif %}">
                            <td class="entry-number">{{ loop.index }}</td>
                            <td {% if form_errors(participant.name) %}class="error"
                                    {% endif %}>{{ form_widget(participant.name, {'attr': {'class': 'entry-name form-control'} }) }}</td>
                            <td {% if form_errors(participant.email) %}class="error"
                                    {% endif %}>{{ form_widget(participant.email, {'attr': {'class': 'entry-mail form-control'} }) }}</td>
                            <td style="text-align: right;">
                                {% if participant.vars.data.partyAdmin %}
                                    <small>{{ 'party-create.list_adminstrator'|trans }}</small>
                                {% else %}
                                    <button type="button" class="btn btn-mini btn-danger remove-entry disabled">
                                        <i class="fa fa-times-circle fa-inverse" ></i> <span class="text_remove">{{ 'party-create.btn.remove_person'|trans }}</span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="add-btn-container">
                    <div class="btn-group">
                        <button type="button" class="btn btn-mini btn-success add-btn-create add-new-entry">
                            <i class="fa fa-plus-circle fa-inverse"></i> {{ 'party-create.btn.add_person'|trans|raw }}
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-mini btn-success add-btn-create add-import-entry">
                            <i class="fa fa-plus-circle fa-inverse"></i> {{ 'party-create.btn.import_persons_open'|trans|raw }}
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-import-entries">
                    <div>
                        <div>{{ 'party-create.import.instructions'|trans({'%downloadPath%': '/downloads/templateCSVSecretSantaOrganizer.csv'})|raw }}</div>
                        <br />
                        <div id="warningImportCSV" class="alert alert-warning" style="display: none">{{ 'party-create.import.too_many_files'|trans }}</div>
                        <div id="errorImportCSV" class="alert alert-danger" style="display: none">{{ 'party-create.import.wrong_format'|trans }}</div>
                        <textarea id="importCSV" class="add-import-entry-data form-control"></textarea>
                        <br />
                        <button type="button" class="btn btn-mini btn-success add-import-entry-do"><i
                                    class="fa fa-plus-circle"></i> {{ 'party-create.btn.import_persons_do'|trans }}
                        </button>
                        <button type="button" class="btn btn-mini btn-danger btn-import-cancel"><i
                                    class="fa fa-times-circle"></i> {{ 'party-create.btn.cancel'|trans }}
                        </button>
                    </div>
                </div>
                <h1>{{ 'party-create.add_personal_message.title'|trans }}</h1>
                {{ form_widget(form.message, {'attr': {'rows': '8', 'class': 'field span12'} }) }}<br/>
                <div class="description">
                    {{ 'party-create.add_personal_message.description'|trans }}
                </div>
                <p>
                    <button type="submit" class="btn btn-large btn-primary btn-create-event">
                        <i class="fa fa-check"></i> {{ 'party-create.btn.create_event'|trans }}
                    </button>
                </p>
            {{ form_end(form) }}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8492783089085834"
                 data-ad-slot="2437486509"
                 data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>

        {% include 'IntractoSecretSantaBundle:Party:createCopy.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
        '@IntractoSecretSantaBundle/Resources/public/js/jquery.smooth-scroll.min.js'
        '@IntractoSecretSantaBundle/Resources/public/js/jquery.csv-0.71.min.js'
        '@IntractoSecretSantaBundle/Resources/public/js/party.create.min.js'
        '@IntractoSecretSantaBundle/Resources/public/js/party.import.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ form_javascript(form) }}
    <script type="text/javascript">
        if (Modernizr.inputtypes.date == true) {
            // support for date input type, remove datepicker
            $(document).ready(function () {
                $("#intracto_secretsantabundle_partytype_date").datepicker("destroy");
            });
        }
        $(document).ready(function () {
            $(".owner").after(
                    '<tr>' +
                    '<th class="col-xs-1 entry-number-header">#</th>' +
                    '<th class="col-xs-3 col-md-4">{{ "party-create.label.participants"|trans }}</th>' +
                    '<th class="col-xs-3 col-md-4">{{ "party-create.label.email"|trans }}</th>' +
                    '<th style="text-align: right;" class="col-xs-4">  </th> ' +
                    '</tr>'
            );
        });
    </script>
{% endblock %}
