{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% form_theme form _self %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul class="form-errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}

{% block main %}
    <div class="box">
        <h1>{{ 'pool-exclude.title'|trans }}</h1>

        <p>{{ 'pool-exclude.description'|trans }}</p>
        {{ form_start(form) }}
        {# Only show general validation error if there are no subform errors #}
        {% if form.participants.vars.valid %}
            {{ form_errors(form) }}
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-xs-1">#</th>
                <th class="col-xs-3">{{ 'pool-exclude.label.name'|trans }}</th>
                <th class="col-xs-8">{{ 'pool-exclude.label.exclude'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in form.participants %}
                <tr class="entry {% if form_errors(entry) or form_errors(entry.excluded_participants) %} error{% endif %}">
                    <td class="entry-number">{{ loop.index }}</td>
                    <td>{{ entry.excluded_participants.vars.label }}</td>
                    <td>
                        {{ form_widget(entry.excluded_participants, {'attr': {'placeholder': 'pool-exclude.placeholder_exclude'} } ) }}
                        {{ form_errors(entry.excluded_participants) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <button type="submit" class="btn btn-large btn-primary btn-create-event">
                <i class="fa fa-check"></i> {{ 'pool-exclude.btn.create_event'|trans }}
            </button>
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/select2/select2.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.js-selector-entry').select2();
        })
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/select2/select2.css') }}" rel="stylesheet" media="screen">
{% endblock %}
