{% extends "IntractoSecretSantaBundle:Emails:baseEmailUnsubscribe.html.twig" %}
{% block main %}
    <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="37" align="left">
            </td>
            <td width="566">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color:#333333; line-height: 25px;">
                    {{ message|nl2br }}
                </span>
                <br><b><a href="https://www.amazon.com/gp/most-wished-for/ref=zg_mw_unv_mov_0_mov_1&tag=secretsanta0e-20" target="_blank" rel="noopener noreferrer">{{ 'emails-participant.buy_from_amazon'|trans }}</a></b>
                <br /> <br /><br />
                <table class="button">
                    <tr>
                        <td align="center" width="auto" bgcolor="#bd1019" style="padding-top: 14px; padding-right: 80px; padding-bottom: 14px; padding-left: 80px;
                        background: #bd1019; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #fff; border: solid 1px #5b1b1c;
                        font-size: 14px; font-weight: normal; text-decoration: none; display: block;" class="buttonTop">

                            <a href="{{ url('participant_view', { 'url': participant.url }) }}?utm_source=notification_mail&utm_medium=email&utm_campaign=participant_invite"
                               style="color: #FFF; text-decoration: none; font-family: Helvetica, Arial, sans-serif; vertical-align: baseline;"
                            >
                                {{ 'emails-participant.find_out'|trans }}
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td width="auto" style="display: block; font-size: 16px;" class="buttonBottom">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td width="37" align="right">
            </td>
        </tr>

    </table>
    <img src="{{ url('mailopen_tracker', { 'participantUrl': participant.url }) }}" alt="pixel" />
{% endblock %}
