{% extends "IntractoSecretSantaBundle:Emails:basemail.html.twig" %}
{% block main %}
    <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="37" align="left">
                <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" width="37" style="display:block;" border="0" />
            </td>
            <td width="566">
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color:#333333; line-height: 25px;">
					{{ 'emails.wishlistchanged.salutation'|trans({'%name%': secret_santa.name}) }},<br/><br/>
                    {{ 'emails.wishlistchanged.buddy_updated_wishlist'|trans }}<br/>
                    {{ 'emails.wishlistchanged.click_button'|trans }}
				</span>
                <br /> <br /><br />
            </td>
            <td width="37" align="right">
                <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" width="37" style="display:block;" border="0" />
            </td>
        </tr>
        <tr>
            <td width="640" colspan="3">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="52" height="45" valign="top">
                            <img src="http://www.eproof.be/assets/intracto/secret-santa/left-btn.jpg" width="52" height="45" style="display:block;" border="0" />
                        </td>
                        <td height="45" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" height="45">
                                <tr>
                                    <td height="1" style="line-height: 1px;background-color: #ffffff" valign="top">
                                        <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" height="1" style="display:block;" border="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="1" style="line-height: 1px;background-color: #a9181b" valign="top">
                                        <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" height="1" style="display:block;" border="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="1" style="line-height: 1px;background-color: #ea1e35" valign="top">
                                        <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" height="1" style="display:block;" border="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40" valign="middle" style="background-color:#bd1019;">
                                        <a href="{{ url('entry_view', { 'url': secret_santa.url, '_locale': secret_santa.pool.locale }) }}"
                                           target="_blank"
                                           style="font-family: Arial, Helvetica, sans-serif;background-color:#bd1019;font-size:18px;color:#ffffff;text-decoration: none;display:block;line-height: 40px;height: 40px">
                                            {{ 'emails.wishlistchanged.btn_check_wishlist'|trans }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="1" style="line-height: 1px;background-color: #d31927" valign="top">
                                        <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" height="1" style="display:block;" border="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="1" style="line-height: 1px;background-color: #a91721" valign="top">
                                        <img src="http://www.eproof.be/assets/intracto/secret-santa/x.gif" height="1" style="display:block;" border="0" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="59" height="45" valign="top">
                            <img src="http://www.eproof.be/assets/intracto/secret-santa/right-btn.jpg" width="59" height="45" style="display:block;" border="0" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
