<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="{{ 'base.meta.description'|trans }}"/>
    <meta property="og:title" content="{{ 'base.meta.og.title'|trans }}"/>
    <meta property="og:image" content="http://secretsantaorganiser.com/bundles/intractosecretsanta/img/ico/social.jpg"/>
    <meta property="og:site_name" content="{{ 'base.meta.og.site_name'|trans }}"/>
    <meta property="og:description" content="{{ 'base.meta.og.description'|trans }}"/>
    <meta name="google-site-verification" content="uA0fiW3NodD6hKNAf4teT1ItWavNiPwmL1uqLt6slF8"/>
    {% block metadata %}{% endblock %}
    <title>{% block title %}{{ 'base.meta.title'|trans }}{% endblock %}</title>

    {% for supported_locale in supported_locales if app.request.get('_route_params') is not null and supported_locale != app.request.get('_locale') %}
        <link rel="alternate" hreflang="{{ supported_locale }}"
              href="{{ url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': supported_locale})) }}"/>
    {% endfor %}

    {% stylesheets
    'bundles/intractosecretsanta/css/bootstrap3/bootstrap.min.css'
    'bundles/intractosecretsanta/css/font-awesome/css/font-awesome.min.css'
    'bundles/intractosecretsanta/css/jquery-ui.min.css'
    'bundles/intractosecretsanta/css/jquery-ui.theme.min.css'
    'bundles/intractosecretsanta/css/main.css'
    'bundles/intractosecretsanta/css/update.min.css'
    'bundles/intractosecretsanta/css/mediaqueries.min.css'
    filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <style>
        table.entries input {
            margin-bottom: 0;
        }
    </style>
    <link rel="shortcut icon" href="{{ asset('/bundles/intractosecretsanta/img/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed"
          href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-57-precomposed.png') }}">
</head>
<body>
{% if app.environment == 'prod' %}
    <script>
        dataLayer = [];
    </script>
    {% block datalayer %}{% endblock %}
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T4Q9GL" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T4Q9GL');
    </script>
    <!-- End Google Tag Manager -->
{% endif %}
<div id="header" class="header">
    <div class="container">
        <a id="homelink" href="{{ url('startpage') }}">{{ 'nav.home'|trans }}</a>

        <div class="header__left">
            <div class="header__logo">
                <img src="{{ asset('/bundles/intractosecretsanta/img/logo.png') }}" alt="Secret santa logo"/>
            </div>
            <div class="header__santa clearfix">
                {% include "IntractoSecretSantaBundle:Common:headerSvg.html.twig" %}
            </div>
        </div>
        <div class="header__right">
            <div class="lang__selection">
                <select>
                    {% for supported_locale in supported_locales if app.request.get('_route_params') is not null %}
                        <option value="{{ url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': supported_locale})) }}"{% if supported_locale == app.request.get('_locale') %} selected{% endif %}>
                            {{ locale_names[supported_locale|replace({'-': '_'})] }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% block header %}{% endblock %}
        </div>
    </div>
    <div class="header__snow-container">
        <div class="header__snow"></div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        {% for flashMessageType in app.session.flashbag.keys %}
            {% if app.session.flashbag.has(flashMessageType) %}
                <div class="box">
                    <div class="alert alert-{{ flashMessageType }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {% for flashMessage in app.session.flashbag.get(flashMessageType) %}
                            <div>{{ flashMessage|raw }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% block mobile_lang %}
            <div class="box">
                <div class="select-secret-santa mobile__lang__selection pull-right">
                    <select>
                        {% for supported_locale in supported_locales if app.request.get('_route_params') is not null %}
                            <option value="{{ url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': supported_locale})) }}"{% if supported_locale == app.request.get('_locale') %} selected{% endif %}>
                                {{ locale_names[supported_locale|replace({'-': '_'})] }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
            <div id="footer-santa" class="clearfix">
                {{ 'base.need_help'|trans({'%FAQ%': path('faq')})|raw }}
            </div>
        {% endblock %}
    </div>
</div>

{% javascripts
'@IntractoSecretSantaBundle/Resources/public/js/modernizr.custom.min.js'
'@IntractoSecretSantaBundle/Resources/public/js/jquery-1.8.2.min.js'
'@IntractoSecretSantaBundle/Resources/public/js/jquery-ui-1.9.0.min.js'
'@IntractoSecretSantaBundle/Resources/public/js/secretsanta.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
