{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/report.css') }}" type="text/css"/>
{% endblock stylesheets %}
{% block main %}
    <div class="box">
        <h1>Report</h1>
        <div class="select-secret-santa">
            <select name="year" id="select-season">
                <option {% if current_year == "all" %} selected="selected" {% endif %} value="all">All time</option>
                {% for year in featured_years['featured_years'] %}
                    <option value="{{ year }}" {% if current_year == year %} selected="selected" {% endif %}>{{ year }} - {{ year+1 }} </option>
                {% endfor %}
            </select>
        </div>
        <small>Choose the season you want to get the data from. Each season begins the 1st of April and lasts until March 31.</small>
        {% if party_data is empty %}
            <div>
                <p>There are no data available for this season.</p>
            </div>
        {% else %}
            {% include 'IntractoSecretSantaBundle:Report:result.html.twig' %}
            {% include 'IntractoSecretSantaBundle:Report:analytics.html.twig' %}

            <div class="clearfix"></div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'IntractoSecretSantaBundle:Report:javascripts.html.twig' %}
{% endblock %}
