{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block main %}
    <h1>Report</h1>


    <form method="GET">
        <div class="row">
            <div class="span3">
                <label for="Year">Results from:</label>
                <select name="year" id="Year">
                    <option value="all">All time</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                </select>
            </div>
            <div class="span3">
                <label>&nbsp;</label>
                <button class="btn btn-primary">{{ 'static.report.submit'|trans }}</button>
            </div>
        </div>
    </form>
    

    <div class="reportLeft">
        <h2>{{ 'report.pool_amount'|trans }}</h2>
        <p><strong>{{ pools|length }}</strong></p>
    </div>

    <div class="reportMid">
        <h2>{{ 'report.user_amount'|trans }}</h2>
        <p><strong>{{ entries|length // pools|length }}</strong></p>
    </div>

    <div class="reportRight">
        <h2>{{ 'report.average_user_amount'|trans }}</h2>
        <p>{{ entry_average }}</p>
    </div>


    <div class="reportRight">
        <h2>{{ 'report.average_wishlist_amount'|trans }}</h2>
        <p>{{ wishlist_average }}%</p>
    </div>
    <div class="clearfix"></div>

{% endblock %}