{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block stylesheets %}
    {% stylesheets 'bundles/intractosecretsanta/css/report.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block main %}
    <h1>{{ 'report.title'|trans }}</h1>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <select name="year" id="select-season" class="form-control"">
                <option {% if(current_year == "all") %} selected="selected" {% endif %}
                        value="all">{{ 'report.all_time'|trans }}</option>
                {% for year in featured_years['featured_years'] %}
                    <option value="{{ year }}" {% if(current_year == year) %} selected="selected" {% endif %}>{{ year }}
                        - {{ year+1 }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <small>{{ 'report.season_info'|trans }}</small>
    {% if data_pool is empty %}
        <div>
            <p>{{ 'report.no_data'|trans }}</p>
        </div>
    {% else %}
        <h2>{{ 'report.results'|trans }}</h2>
        {% if current_year != 'all' %}
            <div class="col-xs-12 col-md-6 report">
        {% else %}
            <div class="col-xs-12 report">
        {% endif %}
            <div class="report_inside">
                {% if current_year != 'all' %}
                    <h3>{{ 'report.season'|trans }} {{ current_year }}-{{ current_year + 1 }}</h3>
                {% else %}
                    <h3>{{ 'report.total_result'|trans }}</h3>
                {% endif %}

                <table>
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <tr>
                        <td>{{ 'report.confirmed_parties'|trans }}:</td>
                        <td>{{ data_pool['pools'][0]['poolCount'] }}</td>
                        {% if difference_data_pool is defined and difference_data_pool is not empty %}
                            {% if difference_data_pool['pool_count_difference'] > 0 %}
                                <td class="positive">+ {{ difference_data_pool['pool_count_difference'] }}</td>
                            {% elseif difference_data_pool['pool_count_difference'] == 0 %}
                                <td>0</td>
                            {% else %}
                                <td class="negative">- {{ difference_data_pool['pool_count_difference'] }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'report.invited_participants'|trans }}:</td>
                        <td>{{ data_pool['entries'][0]['entryCount'] }}</td>
                        {% if difference_data_pool is defined and difference_data_pool is not empty %}
                            {% if difference_data_pool['entry_count_difference'] > 0 %}
                                <td class="positive">+ {{ difference_data_pool['entry_count_difference'] }}</td>
                            {% elseif difference_data_pool['entry_count_difference'] == 0 %}
                                <td>0</td>
                            {% else %}
                                <td class="negative">- {{ difference_data_pool['entry_count_difference'] }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'report.confirmed_participants'|trans }}:</td>
                        <td>{{ data_pool['confirmed_entries'][0]['confirmedEntryCount'] }}</td>
                        {% if difference_data_pool is defined and difference_data_pool is not empty %}
                            {% if difference_data_pool['confirmed_entry_count_difference'] > 0 %}
                                <td class="positive">+ {{ difference_data_pool['confirmed_entry_count_difference'] }}</td>
                            {% elseif difference_data_pool['confirmed_entry_count_difference'] == 0 %}
                                <td>0</td>
                            {% else %}
                                <td class="negative">- {{ difference_data_pool['confirmed_entry_count_difference'] }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'report.average_entries'|trans }}:</td>
                        <td>{{ data_pool['entry_average']|round }}</td>
                        {% if difference_data_pool is defined and difference_data_pool is not empty %}
                            {% if difference_data_pool['average_entries_difference']|round > 0 %}
                                <td class="positive">+ {{ difference_data_pool['average_entries_difference']|round }}</td>
                            {% elseif difference_data_pool['average_entries_difference']|round == 0 %}
                                <td>0</td>
                            {% else %}
                                <td class="negative">- {{ difference_data_pool['average_entries_difference']|round }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'report.unique_entries'|trans }}:</td>
                        <td>{{ data_pool['distinct_entries'][0]['distinctEntryCount'] }}</td>
                        {% if difference_data_pool is defined and difference_data_pool is not empty %}
                            {% if difference_data_pool['distinct_entry_count_difference'] > 0 %}
                                <td class="positive">+ {{ difference_data_pool['distinct_entry_count_difference'] }}</td>
                            {% elseif difference_data_pool['distinct_entry_count_difference'] == 0 %}
                                <td>0</td>
                            {% else %}
                                <td class="negative">- {{ difference_data_pool['distinct_entry_count_difference'] }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'report.completed_wishlists'|trans }}:</td>
                        <td>{{ data_pool['wishlist_average']|number_format(2, '.', '') }} %</td>
                        {% if difference_data_pool is defined and difference_data_pool is not empty %}
                            {% if difference_data_pool['average_wishlist_difference']|number_format(2, '.', '') > 0 %}
                                <td class="positive">+ {{ difference_data_pool['average_wishlist_difference']|number_format(2, '.', '') }} %</td>
                            {% elseif difference_data_pool['average_wishlist_difference']|number_format(2, '.', '') == 0 %}
                                <td>0.00%</td>
                            {% else %}
                                <td class="negative">- {{ difference_data_pool['average_wishlist_difference']|number_format(2, '.', '') }} %</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        {% if current_year == 'all' %}
            <div class="clearfix"></div>
        {% endif %}
        {% if current_year != 'all' %}
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.total'|trans }}</h3>
                    <table>
                        <col width="50%">
                        <col width="50%">
                        <tr>
                            <td>{{ 'report.confirmed_parties'|trans }}:</td>
                            <td>{{ data_pool['total_pools'][0]['poolCount'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'report.invited_participants'|trans }}:</td>
                            <td>{{ data_pool['total_entries'][0]['totalEntryCount'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'report.confirmed_participants'|trans }}:</td>
                            <td>{{ data_pool['total_confirmed_entries'][0]['confirmedEntryCount'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'report.average_entries'|trans }}:</td>
                            <td>{{ data_pool['total_entry_average']|round }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'report.unique_entries'|trans }}:</td>
                            <td>{{ data_pool['total_distinct_entries'][0]['distinctEntryCount'] }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'report.completed_wishlists'|trans }}:</td>
                            <td>{{ data_pool['total_wishlist_average']|number_format(2, '.', '') }} %</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.confirmed_parties_month'|trans }}</h3>

                    <div id="pool_chart" style="width: 100%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.confirmed_parties_total'|trans }}</h3>

                    <div id="total_pool_chart" style="width: 100%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.confirmed_participants_month'|trans }}</h3>

                    <div id="entry_chart" style="width: 100%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.confirmed_participants_total'|trans }}</h3>

                    <div id="total_entry_chart" style="width: 100%"></div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.created_parties'|trans }}</h3>

                    <div id="pool_chart" style="width: 100%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.invited_participants'|trans }}</h3>

                    <div id="entry_chart" style="width: 100%"></div>
                </div>
            </div>
        {% endif %}

        <h2>{{ 'report.analytics'|trans }}</h2>

        {% if data_pool['ip_usage'] is not empty %}
            <div class="col-xs-12 col-md-6 report">
                <div class="report_inside">
                    <h3>{{ 'report.ip_usage'|trans }}</h3>

                    <div id="ip_chart" style="width: 100%"></div>
                </div>
            </div>
        {% endif %}

        <div class="col-xs-12 col-md-6 report">
            <div class="report_inside">
                <h3>{{ 'report.visitors_per_country'|trans }}</h3>

                <div id="country_chart" style="width: 100%"></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 report">
            <div class="report_inside">
                <h3>{{ 'report.visitors_per_language'|trans }}</h3>

                <div id="language_chart" style="width: 100%"></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 report">
            <div class="report_inside">
                <h3>{{ 'report.mobile_usage'|trans }}</h3>

                <div id="device_chart" style="width: 100%"></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 report">
            <div class="report_inside">
                <h3>{{ 'report.top_browser'|trans }}</h3>

                <div id="browser_chart" style="width: 100%"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if data_pool is not empty %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#select-season').on('change', function() {
                    var url = '{{ path("report", { 'year' : "CHOICE" }) }}';
                    window.location = url.replace('CHOICE', $(this).val());
                });

                $(window).resize(function(){
                    drawChart();
                });
            });

            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var chartOptions = {
                    height: 300,
                    legend: {position: 'bottom'},
                    colors: [
                        '#c41425',
                        '#d31628',
                        '#e3172b',
                        '#e82236',
                        '#ea3244',
                        '#ec4152',
                        '#ed5160',
                        '#ef606e',
                        '#f0707c',
                        '#f27f8a',
                        '#f48e98',
                        '#f59ea6',
                        '#f7adb4',
                        '#f8bdc2'
                    ],
                    backgroundColor: { fill:'transparent' }
                };

                var analyticsChartOptions = {
                    height: 300,
                    chartArea: { left: 0, right:0 },
                    legend: { alignment: 'center' },
                    backgroundColor: { fill:'transparent' }
                }

                {% if current_year != 'all' %}
                    var poolData = new google.visualization.DataTable();
                    poolData.addColumn('string', 'Month');
                    poolData.addColumn('number', '{{ 'report.parties'|trans }}');
                    poolData.addRows([
                        {% for pool in data_pool['pool_chart_data'] %}
                        ['{{ pool['month']|date("M") }}', {{ pool['accumulatedPoolCountByMonth'] }}],
                        {% endfor %}
                    ]);
                    var poolChart = new google.visualization.ColumnChart(document.getElementById('pool_chart'));
                    poolChart.draw(poolData, chartOptions);

                    var totalPoolData = new google.visualization.DataTable();
                    totalPoolData.addColumn('string', 'Month');
                    totalPoolData.addColumn('number', '{{ 'report.parties'|trans }}');
                    totalPoolData.addRows([
                        {% for pool in data_pool['total_pool_chart_data'] %}
                        ['{{ pool['month']|date("M Y") }}', {{ pool['totalPoolCount'] }}],
                        {% endfor %}
                    ]);
                    var totalPoolChart = new google.visualization.LineChart(document.getElementById('total_pool_chart'));
                    totalPoolChart.draw(totalPoolData, chartOptions);

                    var entryData = new google.visualization.DataTable();
                    entryData.addColumn('string', 'Month');
                    entryData.addColumn('number', '{{ 'report.participants'|trans }}');
                    entryData.addRows([
                        {% for entry in data_pool['entry_chart_data'] %}
                        ['{{ entry['month']|date("M") }}', {{ entry['accumulatedEntryCountByMonth'] }}],
                        {% endfor %}
                    ]);
                    var entryChart = new google.visualization.ColumnChart(document.getElementById('entry_chart'));
                    entryChart.draw(entryData, chartOptions);

                    var totalEntryData = new google.visualization.DataTable();
                    totalEntryData.addColumn('string', 'Month');
                    totalEntryData.addColumn('number', '{{ 'report.participants'|trans }}');
                    totalEntryData.addRows([
                        {% for entry in data_pool['total_entry_chart_data'] %}
                        ['{{ entry['month']|date("M Y") }}', {{ entry['totalEntryCount'] }}],
                        {% endfor %}
                    ]);
                    var totalEntryChart = new google.visualization.LineChart(document.getElementById('total_entry_chart'));
                    totalEntryChart.draw(totalEntryData, chartOptions);
                {% else %}
                    var poolData = new google.visualization.DataTable();
                    poolData.addColumn('string', 'Season');
                    poolData.addColumn('number', '{{ 'report.parties'|trans }}');
                    poolData.addRows([
                        {% for pool in data_pool['yearly_pool_chart_data'] %}
                        {% if pool['year'] != null %}
                        ['{{ pool['year'] }} - {{ pool['year'] + 1 }}', {{ pool['pool'][0]['accumulatedPoolCountByYear'] }}],
                        {% endif %}
                        {% endfor %}]);
                    var poolChart = new google.visualization.ColumnChart(document.getElementById('pool_chart'));
                    poolChart.draw(poolData, chartOptions);

                    var entryData = new google.visualization.DataTable();
                    entryData.addColumn('string', 'Season');
                    entryData.addColumn('number', '{{ 'report.participants'|trans }}');
                    entryData.addRows([
                        {% for entry in data_pool['yearly_entry_chart_data'] %}
                        {% if entry['year'] != null %}
                        ['{{ entry['year'] }} - {{ entry['year'] + 1 }}', {{ entry['entry'][0]['accumulatedEntryCountByYear'] }}],
                        {% endif %}
                        {% endfor %}
                    ]);
                    var entryChart = new google.visualization.ColumnChart(document.getElementById('entry_chart'));
                    entryChart.draw(entryData, chartOptions);
                {% endif %}

                {% if data_pool['ip_usage'] is not empty %}
                    var ipData = new google.visualization.DataTable();
                    ipData.addColumn('string', 'IP type');
                    ipData.addColumn('number', 'Percentage');
                    ipData.addRows([
                        ['IPv4', {{ data_pool['ip_usage']['ipv4']['ipv4Count'] }}],
                        ['IPv6', {{ data_pool['ip_usage']['ipv6']['ipv6Count'] }}]
                    ]);

                    var ipChart = new google.visualization.PieChart(document.getElementById('ip_chart'));
                    ipChart.draw(ipData, analyticsChartOptions);
                {% endif %}

                var countryData = new google.visualization.DataTable();
                countryData.addColumn('string', 'Country');
                countryData.addColumn('number', 'Visitors');
                countryData.addRows([
                    {% for google in google_data_pool['countries'] %}
                        ['{{ google[0] }}', {{ google[1] }}],
                    {% endfor %}
                ]);
                var countryChart = new google.visualization.PieChart(document.getElementById('country_chart'));
                countryChart.draw(countryData, analyticsChartOptions);

                var languageData = new google.visualization.DataTable();
                languageData.addColumn('string', 'Language');
                languageData.addColumn('number', 'Visitors');
                languageData.addRows([
                    {% for google in google_data_pool['language'] %}
                        ['{{ google[0] }}', {{ google[1] }}],
                    {% endfor %}
                ]);
                var languageChart = new google.visualization.PieChart(document.getElementById('language_chart'));
                languageChart.draw(languageData, analyticsChartOptions);

                var deviceData = new google.visualization.DataTable();
                deviceData.addColumn('string', 'Device');
                deviceData.addColumn('number', 'Visitors');
                deviceData.addRows([
                    {% for google in google_data_pool['deviceCategory'] %}
                        ['{{ google[0] }}', {{ google[1] }}],
                    {% endfor %}
                ]);
                var deviceChart = new google.visualization.PieChart(document.getElementById('device_chart'));
                deviceChart.draw(deviceData, analyticsChartOptions);

                var browserData = new google.visualization.DataTable();
                browserData.addColumn('string', 'Device');
                browserData.addColumn('number', 'Visitors');
                browserData.addRows([
                    {% for google in google_data_pool['browser'] %}
                        ['{{ google[0] }}', {{ google[1] }}],
                    {% endfor %}
                ]);
                var browserChart = new google.visualization.PieChart(document.getElementById('browser_chart'));
                browserChart.draw(browserData, analyticsChartOptions);
            }
        </script>
    {% endif %}
{% endblock %}