{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block stylesheets %}
    {% stylesheets
    'bundles/intractosecretsanta/css/report.css'
    filter='cssrewrite' %}
    {% endstylesheets %}
{% endblock %}
{% block main %}
    <h1>{{ 'report.title'|trans }}</h1>

    <div>
        <p>{{ 'report.season_info'|trans }}</p>
    </div>

    <form method="GET">
        <div class="row">
            <div class="span3">
                <select name="year" id="Year" onchange="this.form.submit();">
                    <option {% if(current_year == "all") %} selected="selected" {% endif %} value="all">{{ 'report.all_time'|trans }}
                    </option>
                    {% for year in featured_years['featured_years'] %}
                        <option value="{{ year }}" {% if(current_year == year) %} selected="selected" {% endif %}>{{ year }} - {{ year+1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    {% if data_pool is empty %}
        <div>
            <p>{{ 'report.no_data'|trans }}</p>
        </div>
    {% else %}
        <div class="col-xs-6 report">
            <h2>{{ 'report.pool_amount'|trans }}</h2>
            <p><strong>{{ data_pool['pools'][0]['poolCount'] }}</strong></p>
        </div>

        <div class="col-xs-6 .col-sm-3 report">
            <h2>{{ 'report.user_amount'|trans }}</h2>
            <p><strong>{{ data_pool['entries'][0]['entryCount'] }}</strong></p>
        </div>

        <div class="col-xs-6 report">
            <h2>{{ 'report.distinct_user_amount'|trans }}</h2>

            <p><strong>{{ data_pool['distinct_entries'][0]['distinctEntryCount'] }}</strong></p>
        </div>

        <div class="col-xs-6 .col-sm-3 report">
            <h2>{{ 'report.average_user_amount'|trans }}</h2>
            <p><strong>{{ data_pool['entry_average'] }}</strong></p>
        </div>


        <div class="col-xs-6 .col-sm-3 report">
            <h2>{{ 'report.average_wishlist_amount'|trans }}</h2>
            <p><strong>{{ data_pool['wishlist_average'] }}%</strong></p>
        </div>
        <div class="clearfix"></div>
    {% endif %}
{% endblock %}
