{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block stylesheets %}
    {% stylesheets
    'bundles/intractosecretsanta/css/report.css'
    filter='cssrewrite' %}
    {% endstylesheets %}
{% endblock %}
{% block main %}
    <h1>{{ 'report.title'|trans }}</h1>

    <div>
        <p>{{ 'report.season_info'|trans }}</p>
    </div>
    <form method="GET">
        <div class="row">
            <div class="span3">
                <select name="year" id="Year" onchange="this.form.submit();">
                    <option {% if(current_year == "all") %} selected="selected" {% endif %} value="all">{{ 'report.all_time'|trans }}
                    </option>
                    {% for year in featured_years['featured_years'] %}
                        <option value="{{ year }}" {% if(current_year == year) %} selected="selected" {% endif %}>{{ year }} - {{ year+1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

    {% if data_pool is empty %}
        <div>
            <p>{{ 'report.no_data'|trans }}</p>
        </div>
    {% else %}
        <div class="col-xs-6 report">
            <h2>{{ 'report.pool_amount'|trans }}</h2>

            <p><strong>{{ data_pool['pools'][0]['poolCount'] }}</strong></p>
        </div>

        <div class="col-xs-6 report">
            <h2>{{ 'report.user_amount'|trans }}</h2>

            <p><strong>{{ data_pool['entries'][0]['entryCount'] }}</strong></p>
        </div>

        <div class="col-xs-6 report">
            <h2>{{ 'report.distinct_user_amount'|trans }}</h2>

            <p><strong>{{ data_pool['distinct_entries'][0]['distinctEntryCount'] }}</strong></p>
        </div>

        <div class="col-xs-6 report">
            <h2>{{ 'report.average_user_amount'|trans }}</h2>

            <p><strong>{{ data_pool['entry_average'] }}</strong></p>
        </div>

        <div class="col-xs-6 report">
            <h2>{{ 'report.average_wishlist_amount'|trans }}</h2>

            <p><strong>{{ data_pool['wishlist_average'] }}%</strong></p>
        </div>

        <div class="col-xs-6 report">
            {% if current_year == 'all' %}
                <h2>Pool growth per year</h2>
            {% else %}
                <h2>Pool growth per month</h2>
            {% endif %}

            <div id="line_chart_pools" style="width: 100%"></div>
        </div>

        <div class="col-xs-6 report">
            {% if current_year == 'all' %}
                <h2>Entry growth per year</h2>
            {% else %}
                <h2>Entry growth per month</h2>
            {% endif %}

            <div id="line_chart_entries" style="width: 100%"></div>
        </div>

        <div class="clearfix"></div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('43', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(){
            var poolData = new google.visualization.DataTable();
            poolData.addColumn('string', 'Month');
            poolData.addColumn('number', 'Amount');
            poolData.addRows([
                {% if current_year == 'all' %}
                    {% for pool in data_pool['linechart_data']['data'] %}
                        ['1', {{ pool[0]['poolCount'] }}],
                    {% endfor %}
                {% else %}
                    {% for pool in data_pool['linechart_pools'] %}
                        ['{{ pool['month'] }}', {{ pool['growthPool'] }}],
                    {% endfor %}
                {% endif %}
            ]);

            var chartOptions = {
                legend: {position: 'bottom'}
            };

            var poolChart = new google.visualization.LineChart(document.getElementById('line_chart_pools'));

            poolChart.draw(poolData, chartOptions);

            var entryData = new google.visualization.DataTable();
            entryData.addColumn('string', 'Month');
            entryData.addColumn('number', 'Amount');
            entryData.addRows([
                {% if current_year == 'all' %}
                    {% for entry in data_pool['linechart_data']['entry_data'] %}
                        ['1', {{ entry[0]['entryCount'] }}],
                    {% endfor %}
                {% else %}
                    {% for entry in data_pool['linechart_entries'] %}
                        ['{{ entry['month'] }}', {{ entry['growthEntries'] }}],
                    {% endfor %}
                {% endif %}
            ]);

            var entryChart = new google.visualization.LineChart(document.getElementById('line_chart_entries'));
            entryChart.draw(entryData, chartOptions);
        }
    </script>
{% endblock %}