<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Secret Santa{% endblock %}</title>
    <link href="{{ asset('/bundles/intractosecretsanta/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('/bundles/intractosecretsanta/css/update.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('/bundles/intractosecretsanta/css/mediaqueries.css') }}" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}
    <style>
    table.entries input {
        margin-bottom: 0;
    }
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('/bundles/intractosecretsanta/img/ico/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ asset('/bundles/intractosecretsanta/img/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('/bundles/intractosecretsanta/img/ico/apple-touch-icon-57-precomposed.png') }}">
    {% if app.environment == 'prod' %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ga_tracking }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header id="header">
                {% block header %}{% endblock %}
            </header>
            {% block main %}{% endblock %}
            {% block footer %}
                <div id="footer-santa" class="clearfix">
                    <div class="copyright">&copy;2012 <a href="http://www.intracto.com" target="_blank">Intracto</a></div>
                    <div class="footer-links">
                        <a href="{{ url('privacypolicy') }}">Privacy policy</a>
                    </div>
                    Have fun organizing your Secret Santa!
                </div>
            {% endblock %}
        </div>
    </div>
    <script src="{{ asset('/bundles/intractosecretsanta/js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/intractosecretsanta/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
