<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Secret Santa{% endblock %}</title>
    <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('/css/update.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('/css/mediaqueries.css') }}" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}
    <style>
    table.entries input {
        margin-bottom: 0;
    }
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header id="header">
                {% block header %}{% endblock %}
            </header>
            {#% include "IntractoSecretSantaBundle:Helpers:navbar.html.twig" %#}
            {% block main %}{% endblock %}
            {% block footer %}
                <div id="footer-santa" class="clearfix">
                    <div class="copyright">&copy;2012 <a href="http://www.intracto.com" target="_blank">Intracto</a></div>
                    <div class="footer-links">
                        <a href="http://www.intracto.com" target="_blank">Privacy policy</a>
                    </div>
                    Have fun organizing your Secret Santa!
                </div>
            {% endblock %}
        </div>
    </div>
    <script src="{{ asset('/bundles/intractosecretsanta/js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
