{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block javascripts %}
    <script type="text/javascript">

        function addEntryForm(collectionHolder, $newLinkEntry) {
            var prototype = collectionHolder.attr('data-prototype');

            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length - 1);

            var $newFormEntry = $('<tr></tr>').append(newForm);
            $newLinkEntry.before($newFormEntry);

            addEntryFormDeleteLink($newFormEntry);
        }

        function addEntryFormDeleteLink($entryFormEntry) {
            var $removeFormA = $('<a href="#">delete this entry</a>');
            $entryFormEntry.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $entryFormEntry.remove();
            });
        }

        var collectionHolder = $('table.entries tbody');
        var $addEntryLink = $('<a href="#" class="add_entry_link">Add an entry</a>');
        var $newLinkEntry = $('<tr></tr>').append($addEntryLink);

        jQuery(document).ready(function() {
            collectionHolder.find('tr.entry').each(function() {
                addEntryFormDeleteLink($(this));
            });

            collectionHolder.append($newLinkEntry);

            $addEntryLink.on('click', function(e) {
                e.preventDefault();
                addEntryForm(collectionHolder, $newLinkEntry);
            });
        });
    </script>
{% endblock %}
{% block main %}

        <h1>Secret Santa</h1>

        {#{ form_errors(form) }#}

        <form action="{{ path('list_create') }}" method="POST" {{ form_enctype(form) }} novalidate>

            {{ form_row(form._token) }}

            <table class="entries table" data-prototype="{{ form_widget(form.entries.vars.prototype)|e }}">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="entry owner">
                        <td>1</td>
                        <td>{{ form_widget(form.owner_name, { 'attr': {'class': 'foo'} }) }}</td>
                        <td>{{ form_widget(form.owner_email, { 'attr': {'class': 'foo'} }) }}</td>
                        <td>Delete button hier</td>
                    </tr>
                {% for entry in form.entries %}
                    <tr class="entry">
                        <td>.</td>
                        <td>{{ form_row(entry.name) }}</td>
                        <td>{{ form_row(entry.email) }}</td>
                    </tr>
                {% endfor %}                    
                </tbody>
            </table>

            {{ form_row(form.message) }}

            <button type="submit" class="btn btn-primary">Send Secret Santa to List</button>
            
        </form>
    </div>
{% endblock %}
