{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block javascripts %}
    <script type="text/javascript">

        function addEntryForm(collectionHolder, $newLinkLi) {
            var prototype = collectionHolder.attr('data-prototype');

            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length-1);

            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addEntryFormDeleteLink($newFormLi);
        }

        function addEntryFormDeleteLink($entryFormLi) {
            var $removeFormA = $('<a href="#">delete this entry</a>');
            $entryFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $entryFormLi.remove();
            });
        }

        var collectionHolder = $('ul.entries');
        var $addEntryLink = $('<a href="#" class="add_entry_link">Add an entry</a>');
        var $newLinkLi = $('<li></li>').append($addEntryLink);

        jQuery(document).ready(function() {
            collectionHolder.find('li.entry').each(function() {
                addEntryFormDeleteLink($(this));
            });

            collectionHolder.append($newLinkLi);

            $addEntryLink.on('click', function(e) {
                e.preventDefault();
                addEntryForm(collectionHolder, $newLinkLi);
            });
        });
    </script>
{% endblock %}
{% block body %}
    <pre>(direct links (temporary): <a href="{{ path('pool') }}">Pool</a> / <a href="{{ path('entry') }}">Entry</a>)</pre>
    <h1>Create a Secret Santa</h1>
    {#{ form_errors(form) }#}
    <form action="{{ path('list_create') }}" method="POST" {{ form_enctype(form) }} novalidate>
        {{ form_row(form.listname) }}
        {{ form_row(form.message) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}

        <h2>Entries</h2>
        <ul class="entries" data-prototype="{{ form_widget(form.entries.vars.prototype)|e }}">
            {% for entry in form.entries %}
                <li class="entry">
                    {{ form_row(entry.name) }}
                    {{ form_row(entry.email) }}
                </li>
            {% endfor %}
        </ul>

        {{ form_rest(form) }}

        <button type="submit">Save</button>
    </form>
{% endblock %}
