{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block javascripts %}
    <script type="text/javascript">

    function addNewEntry(collectionHolder) {
        // Get entry prototype as defined in attribute data-prototype
        var prototype = collectionHolder.attr('data-prototype');
        // Adjust entry prototype for correct naming
        var number_of_entries = collectionHolder.children().length; // Note, owner is not counted as entry
        var newFormHtml = prototype.replace(/__name__/g, number_of_entries - 1).replace(/__entrycount__/g, number_of_entries + 1);


        // Add new entry to pool with animation
        var newForm = $(newFormHtml);
        collectionHolder.append(newForm);
        newForm.show(300);
        // Create delete link for new entry
        // addDeleteButtonForEntry($newFormEntry);
    } 

    function addDeleteButton($entryFormEntry) {
        var $removeFormA = $('<a href="#">delete this entry</a>');
        $entryFormEntry.append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();
            $entryFormEntry.remove();
        });
    }

    /* Variables */
    var collectionHolder = $('table.entries tbody');

    /* Document Ready */
    jQuery(document).ready(function() {

        // Add Delete buttons to all entries above 3
        collectionHolder.find('tr.entry:gt(2)').each(function() {
            addDeleteButton($(this));
        });

        //Add eventlistener on add-new-entry button
        $('#add-new-entry').on('click', function(e) {
            e.preventDefault();
            addNewEntry(collectionHolder);
        });

    });
    </script>
{% endblock %}
{% block main %}

<h1>Secret Santa</h1>

{#{ form_errors(form) }#}

<form action="{{ path('list_create') }}" method="POST" {{ form_enctype(form) }} novalidate>

    {{ form_row(form._token) }}
    <p>
        <table class="entries table table-striped">
            <thead>
                <tr>
                    <th class="span1">#</th>
                    <th class="span3">Name</th>
                    <th class="span4">E-mail</th>
                    <th style="text-align: right;" class="span4"><button type="button" class="btn btn-mini btn-success" id="add-new-entry"><i class="icon-plus icon-white"></i> Add person</button></th>
                </tr>
            </thead>
            <tbody data-prototype="{% filter escape %}{% include 'IntractoSecretSantaBundle:Helpers:prototypeEntry.html.twig' with {'entry': form.entries.get('prototype')} %}{% endfilter %}">
                <tr class="entry owner info">
                    <td>1</td>
                    <td>{{ form_widget(form.owner_name) }}</td>
                    <td>{{ form_widget(form.owner_email) }}</td>
                    <td><small>NOTE: This user is also the administrator for this list.</small></td>
                </tr>
                {% for entry in form.entries %}
                <tr class="entry not-owner">
                    <td>{{ loop.index + 1 }}</td>
                    <td>{{ form_widget(entry.name) }}</td>
                    <td>{{ form_widget(entry.email) }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </p>
    <p>
        {{ form_widget(form.message, {'attr': {'rows': '8', 'class': 'field span12'} })  }}
    </p>
    <button type="submit" class="btn btn-large btn-primary">Send Secret Santa to List</button>

</form>
{% endblock %}