{% extends "base.html.twig" %}

{% block metadata %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
                {
                    "@type": "Question",
                    "name": "{{ 'party-create.what_is.title'|trans }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ 'party-create.what_is.intro'|trans|raw|striptags|trim }}"
                    }
                },
                {
                    "@type": "Question",
                    "name": "{{ 'party-create.what_is.title_2'|trans }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ 'party-create.what_is.intro_2'|trans|raw|striptags|trim }}"
                    }
                }{% if (app.request.locale == 'en') %},
                {
                    "@type": "Question",
                    "name": "{{ 'party-create.copy.fun_title'|trans }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ 'party-create.copy.fun_text'|trans|raw|striptags|trim }}"
                    }
                },
                {
                    "@type": "Question",
                    "name": "{{ 'party-create.copy.why_title'|trans }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ 'party-create.copy.why_text'|trans|raw|striptags|trim }}"
                    }
                }{% endif %}
            ]
        }
    </script>
{% endblock %}

{% block main %}
    {% if rateLimitReached|default(false) == true %}
        <div class="mb-5">
            <h2 class="text-danger">{{ 'party-create.rate_limit_reached'|trans|raw }}</h2>
            <br>
            <a href="{{ url('homepage') }}">{{ 'party-create.header.steps.get_started'|trans }}</a>
        </div>
    {% else %}
        <div class="intro row align-items-center">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h1>{{ 'party-create.what_is.title'|trans }}</h1>
                {{ 'party-create.what_is.intro'|trans|raw }}
                <h2>{{ 'party-create.what_is.title_2'|trans }}</h2>
                {{ 'party-create.what_is.intro_2'|trans|raw }}
            </div>
            <div class="col-sm-4 col-md-4 hidden-xs">
                <div class="steps">
                    <h2>{{ 'party-create.header.steps.title'|trans|raw }}</h2>
                    <ul class="liststyle1">
                        <li class="mb-2"><span class="icon-steps">1</span> {{ 'party-create.header.steps.list.one'|trans }}</li>
                        <li class="mb-2"><span class="icon-steps">2</span> {{ 'party-create.header.steps.list.two'|trans }}</li>
                        <li class="mb-3"><span class="icon-steps">3</span> {{ 'party-create.header.steps.list.three'|trans }}</li>
                    </ul>
                    <div class="text-center">
                        <a href="#mysanta" class="btn-started">{{ 'party-create.header.steps.get_started'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container" id="mysanta">
            <div class="santa-content mb-5">
                {% if countHashed is defined and countHashed > 0 %}
                    {% if originalAmountOfParticipants == countHashed %}
                        <h2 class="text-danger">{{ 'party-create.party_was_completely_hashed'|trans }}</h2>
                    {% else %}
                        <h2 class="text-danger">{{ 'party-create.party_was_hashed'|trans }}</h2>
                    {% endif %}
                {% else %}
                    <h2>{{ 'party-create.add_participants'|trans }}</h2>
                {% endif %}
                {{ form_start(form) }}
                    {{ form_row(form._token) }}
                    <div class="toplabels">
                        <div class="form-group form-create-party {% if form_errors(form.eventdate) %}error{% endif %}">
                            {{ form_label(form.eventdate) }}
                            {{ form_widget(form.eventdate, { 'attr': { 'class': 'form-control' }}) }}
                        </div>
                        <div class="form-group form-create-party {% if form_errors(form.location) %}error{% endif %}">
                            {{ form_label(form.location) }}
                            {{ form_widget(form.location, { 'attr': { 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group form-create-party {% if form_errors(form.amount) %}error{% endif %}">
                            {{ form_label(form.amount) }}
                            {{ form_widget(form.amount, { 'attr': { 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <table class="participants table table-striped mysanta">
                        <thead>
                        <tr>
                            <th class="participant-number-header">#</th>
                            <th>{{ 'party-create.label.host'|trans }}</th>
                            <th>{{ 'party-create.label.email'|trans }}</th>
                            <th style="text-align: right;" class="col-xs-3"></th>
                        </tr>
                        </thead>
                        <tbody data-prototype="{% apply escape %}
                        {% include 'Helpers/prototypeParticipant.html.twig' with
                        {'participant': form.participants.vars['prototype']} %}{% endapply %}">
                        {% for participant in form.participants %}
                            <tr class="participant {% if participant.vars.data.partyAdmin %}owner
                            {% else %}not-owner{% endif %}
                            {% if form_errors(participant.name) or form_errors(participant.email) %} error{% endif %}">
                                <td class="participant-number">{{ loop.index }}</td>
                                <td {% if form_errors(participant.name) %}class="error"
                                        {% endif %}>{{ form_widget(participant.name, {'attr': {'class': 'participant-name form-control'} }) }}</td>
                                <td {% if form_errors(participant.email) %}class="error"
                                        {% endif %}>{{ form_widget(participant.email, {'attr': {'class': 'participant-mail form-control'} }) }}</td>
                                <td style="text-align: right;">
                                    {% if participant.vars.data.partyAdmin %}
                                        <small>{{ 'party-create.list_adminstrator'|trans }}</small>
                                    {% else %}
                                        <button type="button" class="btn btn-mini btn-danger remove-participant disabled">
                                            <i class="fa fa-times-circle fa-inverse" ></i> <span class="text_remove">{{ 'party-create.btn.remove_person'|trans }}</span>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="add-btn-container">
                        <div class="btn-group">
                            <button type="button" class="btn btn-mini btn-success add-btn-create add-new-participant">
                                <i class="fa fa-plus-circle fa-inverse"></i> {{ 'party-create.btn.add_person'|trans|raw }}
                            </button>
                        </div>
                        <div class="btn-group hidden-xs">
                            <button type="button" class="btn btn-mini btn-success add-btn-create add-import-participant">
                                <i class="fa fa-plus-circle fa-inverse"></i> {{ 'party-create.btn.import_persons_open'|trans|raw }}
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-import-participants">
                        <div>
                            <div>{{ 'party-create.import.instructions'|trans({'%downloadPath%': '/downloads/templateCSVSecretSantaOrganizer.csv'})|raw }}</div>
                            <br />
                            <div id="warningImportCSV" class="alert alert-warning" style="display: none">{{ 'party-create.import.too_many_files'|trans }}</div>
                            <div id="errorImportCSV" class="alert alert-danger" style="display: none">{{ 'party-create.import.wrong_format'|trans }}</div>
                            <textarea id="importCSV" class="add-import-participant-data form-control"></textarea>
                            <br />
                            <button type="button" class="btn btn-mini btn-success add-import-participant-do"><i
                                        class="fa fa-plus-circle"></i> {{ 'party-create.btn.import_persons_do'|trans }}
                            </button>
                            <button type="button" class="btn btn-mini btn-danger btn-import-cancel"><i
                                        class="fa fa-times-circle"></i> {{ 'party-create.btn.cancel'|trans }}
                            </button>
                        </div>
                    </div>
                    <h2>{{ 'party-create.add_personal_message.title'|trans }}</h2>
                    {{ form_widget(form.message, {'attr': {'rows': '8', 'class': 'form-control field span12'} }) }}<br/>
                    <div class="description">
                        {{ 'party-create.add_personal_message.description'|trans }}
                    </div>

                    <br/>
                    <div class="confirmation{% if form_errors(form.confirmed) %}-error{% endif %}">
                        {{ form_widget(form.confirmed) }}
                        {{ form_label(form.confirmed) }}
                    </div>

                    <p>
                        <button type="submit" class="btn btn-large btn-primary btn-create-event" id="create-party-btn">
                            <i class="fa fa-check"></i> {{ 'party-create.btn.create_event'|trans }}
                        </button>
                    </p>
                {{ form_end(form) }}
                {% if geoCountry() in ["BE", "NL"] %}
                <a href="https://kersthits.lnk.to/playlistSS" rel="noopener noreferrer" target="_blank">
                    <img src="{{ absolute_url(asset('/sony2021.jpg')) }}" width="100%">
                </a><br>
                {% else %}
                {% if app.environment not in ['test', 'test_travis'] %}
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-8492783089085834"
                         data-ad-slot="2437486509"
                         data-ad-format="auto"></ins>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                {% endif %}
                {% endif %}
            </div>

            {% include 'Party/createCopy.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/party.create.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/party.import.js') }}"></script>
    {{ form_javascript(form) }}
    <script type="text/javascript">
        if (Modernizr.inputtypes.date == true) {
            // support for date input type, remove datepicker
            $(document).ready(function () {
                $("#intracto_secretsantabundle_partytype_date").datepicker("destroy");
            });
        }
        $(document).ready(function () {
            $(".owner").after(
                '<tr>' +
                '<th class="participant-number-header">#</th>' +
                '<th>{{ "party-create.label.participants"|trans }}</th>' +
                '<th>{{ "party-create.label.email"|trans }}</th>' +
                '<th style="text-align: right;" class="">  </th> ' +
                '</tr>'
            );
        });
    </script>
{% endblock %}
