{% if app.request.locale == 'en' %}
    <div class="row three-column">
        <div class="col-md-4">
            <h2>{{ 'party-create.copy.fun_title'|trans }}</h2>
            {{ 'party-create.copy.fun_text'|trans|raw }}
        </div>
        <div class="col-md-4">
            <h2>{{ 'party-create.copy.why_title'|trans }}</h2>
            {{ 'party-create.copy.why_text'|trans|raw }}
        </div>
        <div class="col-md-4">
            <h2>{{ 'party-create.copy.world_title'|trans }}</h2>
            {{ 'party-create.copy.world_text'|trans|raw }}
        </div>
    </div>
{% endif %}
