{% extends 'base.html.twig' %}

{% block main %}
    <div class="box">
        <h1>{{ 'party-get_reuse_url.title'|trans }}</h1>

        <p>{{ 'party-get_reuse_url.description'|trans }}</p>
        {{ form_start(form)}}
            {{ form_row(form._token) }}
            <div class="form-group">
                <strong>{{ form_label(form.email) }}</strong>
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form)}}
    </div>
{% endblock %}
