{% extends "IntractoSecretSantaBundle::base.html.twig" %}

{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block datalayer %}{% endblock %}

{% block header %}
    <div class="steps">
        <h2>{{ 'pool_manage_base.headers.title'|trans|raw }}</h2>
        <ul class="liststyle1">
            <li><strong>{{ 'pool_manage_base.headers.date'|trans }} </strong> {{ party.eventdate|localizeddate('medium', 'none') }}</li>
            <li><strong>{{ 'pool_manage_base.headers.location'|trans }}</strong> {{ party.location }}</li>
            <li><strong>{{ 'pool_manage_base.headers.amount'|trans }} </strong> {{ party.amount }}</li>
        </ul>
    </div>
{% endblock %}

{% block box %}{% endblock %}
