 <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ 'emails-base_email.title'|trans }}</title>
    </head>
    <body>
        <style type="text/css">
            body{
                -webkit-text-size-adjust: none;
            }

            @media only screen and (max-width: 480px),
            only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (min-device-pixel-ratio: 1.5) {
                table[class="button"] {width: 100% !important;}
                table[class="button"] td[class="buttonTop"] {padding: 0 !important; font-size: 1.1em !important; }
                table[class="button"] td[class="buttonTop"] a {padding: 1em 0 1em 0 !important; display: block !important; }
                table[class="button"] td[class="buttonBottom"] {font-size: 1.2em !important; display: block !important; }
            }
        </style>
        <!--header-->
        <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td width="640">
                    <a href="https://kersthits.lnk.to/playlistSS" rel="noopener noreferrer" target="_blank">
                        <img src="{{ absolute_url(asset('/sony2021.jpg')) }}" width="640">
                    </a>
                </td>
            </tr>
            <tr>
                <td width="640">
                    <img src="{{ absolute_url(asset('build/images/mail/header.jpg')) }}" width="640" height="146" style="display:block;" border="0" alt="header"/>
                </td>
            </tr>
        </table>

        <!--content-->
        {% block main %}{% endblock %}
        <!--footer-->
        <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td width="640" height="82" colspan="3" valign="bottom">
                    <img src="{{ absolute_url(asset('build/images/mail/footer-top.jpg')) }}" width="640" height="82" style="display:block;" border="0" alt="footer"/>
                </td>
            </tr>
            <tr>
                <td width="37" height="21">
                    <img src="{{ absolute_url(asset('build/images/mail/left-middle-footer.jpg')) }}" width="37" height="21" style="display:block;" border="0" alt="left footer"/>
                </td>
                <td width="331" height="21">
                    <span style="font-family: Arial, Helvetica, sans-serif;color:#6e7070;line-height: 21px;background-color:#ffffff;font-size:13px;">{{ 'emails-base_email.footer'|trans }}
                        <br/>{{ 'emails-base_email.created_by'|trans }}</span>
                    <a href="http://www.iodigital.com" target="_blank" rel="noopener noreferrer" style="color:#b3141c;font-family: Arial, Helvetica, sans-serif; line-height: 21px; background-color: #ffffff;font-size:13px;text-decoration: none">iO</a>
                </td>
                <td width="272" headers="36" valign="top">
                    <img src="{{ absolute_url(asset('build/images/mail/footer-right.jpg')) }}" width="272" height="36" style="display:block;" border="0" alt="right footer"/>
                </td>
            </tr>
        </table>
        {% block unsubscribe %}{% endblock %}
    </body>
</html>
