<h1>Pool</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Listname</th>
            <td>{{ entity.listname }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ entity.message }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Sentdate</th>
            <td>{{ entity.sentdate }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('pool') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pool_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('pool_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
