{% extends "IntractoSecretSantaBundle::base.html.twig" %}

{% block header %}
    <div class="steps">
        <h2>{{ 'pool.header.steps.title'|trans|raw }}</h2>
        <ul class="liststyle1">
            <li><span class="icon-steps">1</span> {{ 'pool.header.steps.list.one'|trans }}</li>
            <li><span class="icon-steps">2</span> {{ 'pool.header.steps.list.two'|trans }}</li>
            <li><span class="icon-steps">3</span> {{ 'pool.header.steps.list.three'|trans }}</li>
        </ul>
        <div class="text-center">
            <a href="#mysanta" class="btn-started">{{ 'pool.header.steps.get_started'|trans }}</a>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="box">
        <h2>{{ 'create.what_is.title'|trans }}</h2>
        {{ 'create.what_is.intro'|trans|raw }}
    </div>
    <div class="content-container" id="mysanta">
        <div class="santa-content">
            <h1>{{ 'create.add_participants'|trans }}</h1>
            <form action="#mysanta" method="POST" {{ form_enctype(form) }} novalidate>
                {{ form_row(form._token) }}
                <div class="toplabels">
                    <div class="form-group form-create-pool {% if form_errors(form.eventdate) %}error{% endif %}">
                        {{ form_label(form.eventdate) }}
                        {{ form_widget(form.eventdate, { 'attr': { 'class': 'form-control' }}) }}
                    </div>
                    <div class="form-group form-create-pool {% if form_errors(form.location) %}error{% endif %}">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group form-create-pool {% if form_errors(form.amount) %}error{% endif %}">
                        {{ form_label(form.amount) }}
                        {{ form_widget(form.amount, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="add-btn-container">
                    <button type="button" class="btn btn-mini btn-success add-btn-create add-new-entry">
                        <i class="fa fa-plus-circle fa-inverse"></i> {{ 'btn.add_person'|trans|raw }}
                    </button>
                    <button type="button" class="btn btn-mini btn-success add-btn-create add-import-entry">
                        <i class="fa fa-plus-circle fa-inverse"></i> {{ 'btn.import_persons.open'|trans|raw }}
                    </button>
                </div>
                <table class="entries table table-striped mysanta">
                    <thead>
                    <tr>
                        <th class="col-xs-1 entry-number-header">#</th>
                        <th class="col-xs-4 col-md-4">{{ 'label.host'|trans }}</th>
                        <th class="col-xs-4 col-md-4">{{ 'label.email'|trans }}</th>
                        <th style="text-align: right;" class="col-xs-3"></th>
                    </tr>
                    </thead>
                    <tbody data-prototype="{% filter escape %}
                    {% include 'IntractoSecretSantaBundle:Helpers:prototypeEntry.html.twig' with
                    {'entry': form.entries.vars['prototype']} %}{% endfilter %}">
                    {% for entry in form.entries %}
                        <tr class="entry {% if entry.vars.data.poolAdmin %}owner
                        {% else %}not-owner{% endif %}
                        {% if form_errors(entry.name) or form_errors(entry.email) %} error{% endif %}">
                            <td class="entry-number">{{ loop.index }}</td>
                            <td {% if form_errors(entry.name) %}class="error"
                                    {% endif %}>{{ form_widget(entry.name, {'attr': {'class': 'entry-name form-control'} }) }}</td>
                            <td {% if form_errors(entry.email) %}class="error"
                                    {% endif %}>{{ form_widget(entry.email, {'attr': {'class': 'entry-mail form-control'} }) }}</td>
                            <td style="text-align: right;">
                                {% if entry.vars.data.poolAdmin %}
                                    <small>{{ 'create.list_adminstrator'|trans }}</small>
                                {% else %}
                                    <button type="button" class="btn btn-mini btn-danger remove-entry disabled">
                                        <i class="fa fa-times-circle fa-inverse" ></i> <i class="text_remove">{{ 'btn.remove_person'|trans }}</i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row-import-entries">
                    <div colspan="2">
                        <div>{{ 'create.import.instructions' |trans }}</div>
                        <br />
                        <div id="warningImportCSV" class="alert alert-warning" style="display: none">{{ 'create.import.too_many_files'|trans }}</div>
                        <div id="errorImportCSV" class="alert alert-danger" style="display: none">{{ 'create.import.wrong_format'|trans }}</div>
                        <textarea id="importCSV" class="add-import-entry-data form-control"></textarea>
                        <br />
                        <button type="button" class="btn btn-mini btn-success add-import-entry-do"><i
                                    class="fa fa-plus-circle"></i> {{ 'btn.import_persons.do'|trans }}
                        </button>
                        <button type="button" class="btn btn-mini btn-danger btn-import-cancel"><i
                                    class="fa fa-times-circle"></i> {{ 'btn.cancel'|trans }}
                        </button>
                    </div>
                </div>
                <h1>{{ 'create.add_personal_message.title'|trans }}</h1>
                {{ form_widget(form.message, {'attr': {'rows': '8', 'class': 'field span12'} }) }}<br/>
                <div class="description">
                    {{ 'create.add_personal_message.description'|trans }}
                </div>
                <p>
                    <button type="submit" class="btn btn-large btn-primary btn-create-event">
                        <i class="fa fa-check"></i> {{ 'btn.create_event'|trans }}
                    </button>
                </p>
            </form>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8492783089085834"
                 data-ad-slot="2437486509"
                 data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>

        {% if app.request.locale == 'en' %}
            <div class="row three-column">
                <div class="col-md-4">
                    <h2>What makes a Secret Santa generator so much fun?</h2>
                    <p>
                        Seriously, is this a rhetorical question? Organizing a <b>Secret Santa party</b> guarantees you
                        a
                        fun night filled with surprises - I think we can agree on that.
                    </p>
                    <p>
                        Thanks to a special <b>Secret Santa generator</b> you won’t have to deal with all the
                        pre-organizing yourself.
                        You just fill in the blanks and the Secret Santa generator does all the work!
                    </p>
                    <p>
                        The only thing you have to do is sit back and relax (oh, and buy some snacks and drinks for your
                        Secret Santa party).
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Why go for Secret Santa online?</h2>
                    <p>
                        The best thing about <b>Secret Santa online</b> is that you don’t have to physically plan
                        everything with all the
                        participants. Assigning names, making and receiving wish lists, and so on: you can arrange
                        everything with
                        just an internet connection and a connected device.
                    </p>
                    <p>
                        This way, Secret Santa online makes all the organizing stuff way more easy. That means more time
                        for you and
                        your friends to enjoy the holiday season and look forward to the actual party!
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Secret Santa all over the world</h2>
                    <p>
                        Secret Santa, Kris Kringle, Kris Kindle, Kris Kringel, Wichteln, or even lootjes trekken, namen
                        trekken or
                        Monito Monita: all over the world people use different names for the same thing. So let us take
                        you on a
                        quick trip around the world! No worries, you’ll be home in time for your <b>Secret Santa
                            party</b>.
                    </p>
                    <ul>
                        <li><b>Secret Santa</b> is commonly used all over the United States and the United Kingdom.
                        <li>In Ireland however, the ritual is called <b>Kris Kindle</b> or <b>Kris Kringel</b>, derived
                            from "<b>Christkindl</b>" - the original name of the Austrian gift bringer.
                        <li>When visiting continental Europe we find that Germans prefer the verb <b>Wichteln</b>,
                            whilst Belgium and Holland speak of <b>lootjes trekken</b> or <b>namen trekken</b>.
                        <li>We continue our trip to Canada and Australia. This is where <b>Secret Santa</b> and <b>Kris
                                Kringle</b> (again, derived from "<b>Christkindl</b>") live.
                        <li>Finally, our holiday ends in the Philippines. In this country we find <b>Monito Monita</b>;
                            a unique gift-exchanging tradition.
                    </ul>
                    <p>
                        Conclusion? Randomly giving gifts to people is fun! So wait no longer and start off with your
                        own <b>Secret Santa generator online</b>.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
        '@IntractoSecretSantaBundle/Resources/public/js/jquery.smooth-scroll.min.js'
        '@IntractoSecretSantaBundle/Resources/public/js/jquery.csv-0.71.min.js'
        '@IntractoSecretSantaBundle/Resources/public/js/pool.create.min.js'
        '@IntractoSecretSantaBundle/Resources/public/js/pool.import.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ form_javascript(form) }}
    <script type="text/javascript">
        if (Modernizr.inputtypes.date == true) {
            // support for date input type, remove datepicker
            $(document).ready(function () {
                $("#intracto_secretsantabundle_pooltype_date").datepicker("destroy");
            });
        }
        $(document).ready(function () {
            $(".owner").after(
                    '<tr>' +
                    '<th class="col-xs-1 entry-number-header">#</th>' +
                    '<th class="col-xs-3 col-md-4">{{ "label.participants"|trans }}</th>' +
                    '<th class="col-xs-3 col-md-4">{{ "label.email"|trans }}</th>' +
                    '<th style="text-align: right;" class="col-xs-4">  </th> ' +
                    '</tr>'
            );
        });
    </script>
{% endblock %}
