{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block javascripts %}
    {% if app.environment == 'prod' %}
        <script>
            dataLayer.push({
                'event': 'createParty',
            });
        </script>
    {% endif %}
{% endblock %}
{% block main %}
<div class="box">
    <h1>{{ 'created.title'|trans }}</h1>
    {{ 'created.body'|trans({ '%ownername%': pool.ownername, '%owneremail%': pool.owneremail })|raw }}

    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div><strong>{{ 'created.warning'|trans }}</strong> {{ 'created.check_spam'|trans }}</div>
    </div>

    {% if app.environment == 'dev' %}<a href="{{ path('pool_manage', { 'listUrl': pool.listUrl }) }}">{{ path('pool_manage', { 'listUrl': pool.listUrl }) }}</a>{% endif %}
</div>
{% endblock %}
