{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block datalayer %}
    <script>
        dataLayer.push({
            'pId': '{{ pool.listurl }}',
            'pLocation': '{{ pool.location }}',
            'pAmount': '{{ pool.amount }}',
            'pParticipants': '{{ pool.entries|length }}',
            'pDate': '{{ pool.eventdate|date('Y-m-d') }}',
            'event': 'createParty'
        });
    </script>
{% endblock %}
{% block main %}
<div class="box">
    <h1>{{ 'pool-created.title'|trans }}</h1>
    {{ 'pool-created.body'|trans({ '%ownername%': pool.ownername, '%owneremail%': pool.owneremail })|raw }}

    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div><strong>{{ 'pool-created.warning'|trans }}</strong> {{ 'pool-created.check_spam'|trans }}</div>
    </div>

    {% if app.environment == 'dev' %}<a href="{{ path('pool_manage', { 'listUrl': pool.listUrl }) }}">{{ path('pool_manage', { 'listUrl': pool.listUrl }) }}</a>{% endif %}
</div>
{% endblock %}
