{% extends 'IntractoSecretSantaBundle::base.html.twig' %}

{% block main %}
    <div class="box">
        <h1>{{ 'forgot_manage_link.title'|trans }}</h1>

        <p>{{ 'forgot_manage_link.description'|trans }}</p>
        <form method="post" {{ form_enctype(form) }} action="{{ form.vars.action }}" novalidate>
            {{ form_row(form._token) }}
            <div class="form-group">
                <strong>{{ form_label(form.email) }}</strong>
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.submit) }}
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

