{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block main %}
    <div class="box">
        <h1>{{ 'manage.title'|trans }}</h1>
        <table class="entries table table-striped" id="mysanta">
            <thead>
            <tr>
                <th class="span1 entry-number-header">#</th>
                <th class="span3">{{ 'label.name'|trans }}</th>
                <th class="span4">{{ 'label.email'|trans }}</th>
                <th class="span2">{{ 'label.confirmed'|trans }}</th>
                <th class="span2">{{ 'label.wishlist_filled'|trans }}</th>
                <th class="span1">{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in pool.entries %}
                <tr class="entry {% if loop.index == 1 %}owner{% else %}not-owner{% endif %}">
                    <td class="entry-number">{{ loop.index }}</td>
                    <td>{{ entry.name }}</td>
                    <td id="email_{{ entry.id }}">{{ entry.email }}</td>
                    <td class="{% if entry.viewdate %}viewed">{{ 'manage.yes'|trans }}{% else %}not_viewed">{{ 'manage.not_yet'|trans }}{% endif %}</td>
                    <td class="{% if entry.wishlistItems is not empty %}viewed">{{ 'manage.yes'|trans }}{% else %}not_viewed">{{ 'manage.not_yet'|trans }}{% endif %}</td>
                    <td style="text-align: right;">
                        <img src="{{ asset('bundles/intractosecretsanta/img/edit.png') }}"
                             onclick="editableEmail('{{ pool.listUrl }}', {{ entry.id }});"
                             rel="tooltip" title="{{ 'manage.edit_email'|trans }}" alt="{{ 'manage.edit_email'|trans }}"
                             style="cursor: pointer;">
                        {% spaceless %}
                            <a href="{{ path('pool_resend', { 'listUrl': pool.listUrl, 'entryId': entry.id }) }}">
                                <img src="{{ asset('bundles/intractosecretsanta/img/envelope.png') }}" rel="tooltip"
                                     title="{{ 'manage.resend_email'|trans }}" alt="{{ 'manage.resend_email'|trans }}">
                            </a>
                        {% endspaceless %}
                        {% if app.environment == 'dev' %}
                            <a href="{{ path('entry_view', { 'url': entry.url }) }}" class="add-participant-link">
                                <img src="{{ asset('bundles/intractosecretsanta/img/view.png') }}" rel="tooltip"
                                     title="{{ entry.entry.name }} <{{ entry.entry.email }}>"
                                     alt="{{ 'manage.view_entry'|trans }}">
                            </a>
                        {% endif %}
                        <a href="{{ path('entry_remove', { 'listUrl': pool.listUrl, 'entryId': entry.id }) }}" class="btn btn-mini btn-danger">
                            <i class="fa fa-times-circle fa-inverse"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="alert alert-info">
            <strong>{{ 'manage.tip'|trans }}</strong> {{ 'manage.come_back'|trans }}
        </div>

        <button id="btn_delete" class="btn btn-primary"><i class="icon-warning-sign icon-white"></i> {{ 'btn.delete_list'|trans }}</button>
        <button id="btn_expose" class="btn btn-warning"><i class="icon-eye-open icon-white"></i> {{ 'btn.expose'|trans }}</button>
        <button id="btn_expose_wishlists" class="btn btn-warning">{{ 'btn.expose_wishlists'|trans }}</button>
        <a class="btn btn-info" href="{{ path('pool_update', { 'listUrl': pool.listurl }) }}">{{ 'btn.pool_update'|trans|raw }}</a>

        <br/><br/>

        <div id="delete-warning" class="alert alert-error" style="display: none;">
            <h3>{{ 'delete.title'|trans }}</h3>

            {% set phraseToType = 'delete.phrase_to_type'|trans %}
            {{ 'delete.body'|trans({ '%phrase_to_type%': phraseToType})|raw }}

            <form action="{{ path('pool_delete', { 'listUrl': pool.listUrl }) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ delete_pool_csrf_token }}">
                <input type="text" name="confirmation" id="delete-confirmation" autocomplete="off"
                       onkeyup="if ($(this).val() == '{{ phraseToType }}') $('#btn_delete_confirmation').removeAttr('disabled');"><br>
                <button class="btn btn-primary" type="submit" id="btn_delete_confirmation" disabled>
                    {{ 'btn.delete_confirm'|trans }}
                </button>
                <button type="reset" class="btn btn-primary" id="btn_delete_cancel">{{ 'btn.cancel'|trans }}</button>
            </form>
        </div>

        <div id="expose-warning" class="alert alert-warning" style="display: none;">
            <h3>{{ 'expose.title'|trans }}</h3>

            {% set phraseToType = 'expose.phrase_to_type'|trans %}
            {{ 'expose.body'|trans({ '%phrase_to_type%': phraseToType})|raw }}

            <form action="{{ path('pool_expose', { 'listUrl': pool.listUrl }) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ expose_pool_csrf_token }}">
                <input type="text" name="confirmation" id="expose-confirmation" autocomplete="off"
                       onkeyup="if ($(this).val() == '{{ phraseToType }}') $('#btn_expose_confirmation').removeAttr('disabled');"><br>
                <button class="btn btn-warning" type="submit" id="btn_expose_confirmation" disabled>
                    {{ 'btn.expose_confirm'|trans }}
                </button>
                <button type="reset" class="btn btn-warning" id="btn_expose_cancel">{{ 'btn.cancel'|trans }}</button>
            </form>
        </div>

        <div id="expose-wishlists-warning" class="alert alert-warning" style="display:none;">
            <h3>{{ 'expose_wishlists.title'|trans }}</h3>

            {% set phraseToType = 'expose_wishlists.phrase_to_type'|trans %}
            {{ 'expose_wishlists.body'|trans({ '%phrase_to_type%': phraseToType})|raw }}

            <form action="{{ path('pool_expose_wishlists', { 'listUrl':pool.listUrl }) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ expose_pool_wishlists_csrf_token }}">
                <input type="text" name="confirmation" id="expose-wishlists-confirmation" autocomplete="off"
                        onkeyup="if ($(this).val() == '{{ phraseToType }}') $('#btn_expose_wishlists_confirmation').removeAttr('disabled');"><br>
                <button class="btn btn-warning" type="submit" id="btn_expose_wishlists_confirmation" disabled>
                    {{ 'btn.expose_wishlists_confirm'|trans|raw }}
                </button>
                <button type="reset" class="btn btn-warning" id="btn_expose_wishlists_cancel">{{ 'btn.cancel'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#btn_delete').click(function(e) {
                $('#delete-warning').show();
                $('#btn_delete').hide();
                $('#delete-confirmation').focus();
            });
            $('#btn_delete_cancel').click(function(e) {
                $('#delete-warning').hide();
                $('#btn_delete').show().focus();
            });

            $('#btn_expose').click(function(e) {
                $('#expose-warning').show();
                $('#btn_expose').hide();
                $('#expose-confirmation').focus();
            });

            $('#btn_expose_cancel').click(function(e) {
                $('#expose-warning').hide();
                $('#btn_expose').show().focus();
            });

            $('#btn_expose_wishlists').click(function(e) {
                $('#expose-wishlists-warning').show();
                $('#btn_expose_wishlists').hide();
                $('#expose-wishlists-confirmation').focus();
            });

            $('#btn_expose_wishlists_cancel').click(function(e) {
                $('#expose-wishlists-warning').hide();
                $('#btn_expose_wishlists').show().focus();
            });
        });

        function editableEmail(listUrl, entryId) {
            var email = $('#email_' + entryId).html();
            var url = '{{ path("entry_email_edit", { 'listUrl': 'listUrl', 'entryId': 'entryId' }) }}';
            url = url.replace("listUrl", listUrl);
            url = url.replace("entryId", entryId);
            $('#email_' + entryId).html(
                    '<form action="' + url + '" method="post">' +
                    '<input type="text" name="email" value="' + email + '">&nbsp;' +
                    '<button class="btn btn-small btn-primary" type="submit"><i class="icon-ok icon-white"></i> {{ 'manage.save'|trans }}</button>' +
                    '</form>'
            );
        }
    </script>
{% endblock %}
