{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>Your Secret Santa list</h1>
        <table class="entries table table-striped" id="mysanta">
            <thead>
                <tr>
                    <th class="span1 entry-number-header">#</th>
                    <th class="span3">Name</th>
                    <th class="span4">E-mail</th>
                    <th class="span4">Confirmed</th>
                    <th class="span1">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in pool.entries %}
                <tr class="entry {% if loop.index == 1 %}owner{% else %}not-owner{% endif %}">
                    <td class="entry-number">{{ loop.index }}</td>
                    <td>{{ entry.name }}</td>
                    <td id="email_{{ entry.id }}">{{ entry.email }}</td>
                    <td class="{% if entry.viewdate %}viewed">Yes{% else %}not_viewed">Not yet{% endif %}</td>
                    <td style="text-align: right;">
                        <img src="{{ asset('bundles/intractosecretsanta/img/edit.png') }}"
                             onclick="editableEmail('{{ pool.listUrl }}', {{ entry.id }});"
                             rel="tooltip" title="Edit e-mail" alt="Edit e-mail" style="cursor: pointer;">
                        {% spaceless %}
                            <a href="{{ path('pool_resend', { 'listUrl': pool.listUrl, 'entryId': entry.id }) }}">
                                <img src="{{ asset('bundles/intractosecretsanta/img/envelope.png') }}" rel="tooltip" title="Resend e-mail" alt="Resend e-mail">
                            </a>
                        {% endspaceless %}
                        {% if app.environment == 'dev' %}
                            <a href="{{ path('entry_view', { 'url': entry.url }) }}">
                                <img src="{{ asset('bundles/intractosecretsanta/img/view.png') }}" rel="tooltip"
                                     title="{{ entry.entry.name }} <{{ entry.entry.email }}>" alt="View entry">
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="alert alert-info">
            <strong>Tip</strong>  You can always come back to this page to make sure everybody has checked his or her mailbox.
        </div>

        <button onclick="$('#delete_pool').show(); $(this).hide(); $('#confirmation').focus();" class="btn btn-primary"><i class="icon-warning-sign icon-white"></i> Delete my Secret Santa list</button>
        <div id="delete_pool" class="alert alert-error" style="display: none;">
            <h3>Delete my Secret Santa list</h3>
            <p>
                Are you ABSOLUTELY sure?<br>
                <br>
                <b>Unexpected bad things will happen if you don't read this!</b><br>
                <br>
                Once you delete your Secret Santa list, there is no going back. This action CANNOT be undone.<br>
                This will delete this Secret Santa list, all it's participants and their wishlists permanently.<br>
                <br>
                Please type "<b>delete everything</b>" below to confirm.<br>
            </p>
            <form action="{{ path('pool_delete', { 'listUrl': pool.listUrl }) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ delete_pool_csrf_token }}">
                <input type="text" name="confirmation" id="confirmation" autocomplete="off"
                       onkeyup="if ($(this).val() == 'delete everything') $('#btn_confirmation').removeAttr('disabled');"><br>
                <button class="btn btn-primary" type="submit" id="btn_confirmation" disabled>
                    I understand the consequences, delete my Secret Santa list now
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function editableEmail(listUrl, entryId) {
            var email = $('#email_' + entryId).html();
            var url = '{{ path("entry_email_edit", { 'listUrl': 'listUrl', 'entryId': 'entryId' }) }}';
            url = url.replace("listUrl", listUrl);
            url = url.replace("entryId", entryId);
            $('#email_' + entryId).html(
                '<form action="' + url + '" method="post">' +
                    '<input type="text" name="email" value="' + email + '">&nbsp;' +
                    '<button class="btn btn-small btn-primary" type="submit"><i class="icon-ok icon-white"></i> Save</button>' +
                '</form>'
            );
        }
    </script>
{% endblock %}
