{% extends "IntractoSecretSantaBundle::base.html.twig" %}

{% block main %}
    <div class="box">
        <h1>{{ 'entry_expose_all.exposed.title'|trans }}</h1>
        <table cellspacing="0" cellpadding="3" class="table table-striped table-hover mysanta">
            <thead>
                <tr>
                    <th><strong>{{ "entry.exposed.giving"|trans }}</strong></th>
                    <th>&nbsp;</th>
                    <th><strong>{{ "entry.exposed.receiving"|trans }}</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for entry in pool.entries %}
                <tr>
                    <td>{{ entry.name }} ({{ entry.email }})</td>
                    <td>&raquo;</td>
                    <td>{{ entry.entry.name }} ({{ entry.entry.email }})</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock main %}