{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block metadata %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block header %}
    <div class="steps">
        <h2>{{ 'entry.headers.title'|trans|raw }}</h2>
        <ul class="liststyle1">
            <li><strong>{{ 'entry.headers.date'|trans }} </strong> {{ entry.pool.eventdate|localizeddate('medium', 'none') }}</li>
            <li><strong>{{ 'entry.headers.location'|trans }}</strong> {{ entry.pool.location }}</li>
            <li><strong>{{ 'entry.headers.amount'|trans }} </strong> {{ entry.pool.amount }}</li>
            <li><strong>{{ 'entry.headers.num_people'|trans }} </strong> {{ entry.pool.entries|length }}</li>
            <li><strong>{{ 'entry.headers.person_created_list'|trans }} </strong> {{ entry.pool.entries|first.email }}
                {% if entry.pool.exposed %}
                    <i class="icon-eye-open" data-toggle="tooltip" data-placement="bottom" title="{{ 'entry.headers.exposed'|trans }}"></i>
                {% else %}
                    <i class="icon-eye-close" data-toggle="tooltip" data-placement="bottom" title="{{ 'entry.headers.not_exposed'|trans }}"></i>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
{% block main %}
    <div class="box">
        <div class="row">
            <div class="span8">
                <h1>{{ 'entry.title'|trans }}</h1>

                {{ 'entry.body'|trans({'%name%': entry.name})|raw }}

                <div class="yoursecretsant">
                    <span class="yourgift">{{ entry.entry.name }}</span> {{ entry.entry.email }}
                </div>

                <div class="well bottom-spacer">
                    <h4>{{ 'entry.wishlist_from'|trans({'%name%': entry.entry.name}) }}</h4>
                    {% if(secret_santa.wishlistitems|length == 0) %}
                        {# check for legacy wishlist #}
                        {% if(secret_santa.getwishlist) %}
                            {{ secret_santa.getwishlist|linkify|raw }}
                        {% else %}
                            {{ 'entry.wishlist_not_provided'|trans({'%name%': entry.entry.name}) }}.
                        {% endif %}
                    {% else %}
                        <ul class="wishlist">
                            {% for item in secret_santa.wishlistitems %}
                                <li class="wishlistitem">{{ item.description|escape|linkify|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="span4">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-8492783089085834"
                     data-ad-slot="3914219700"
                     data-ad-format="auto"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
        </div>



        <h1>{{ 'entry.wishlist.title'|trans }}</h1>

        <p>

        <div class="description">{{ 'entry.wishlist.description'|trans|raw }}</div>
        <p>
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {% if entry.wishlist != "" %}

                {# legacy wishlist #}
                {{ form_widget(form.wishlist, {'attr': {'rows': '8', 'class': 'field span12'} }) }}

            {% else %}

                {# item-based wishlist #}
                <table class="entries table table-striped">
                    <thead>
                    <tr>
                        <th class="span1 entry-number-header">#</th>
                        <th class="span7">{{ 'label.description'|trans }}</th>
                        <th style="text-align: right;" class="span4">
                            <button type="button" class="btn btn-mini btn-success add-new-entry"><i
                                        class="icon-plus-sign icon-white"></i> {{ 'btn.add_wishlist'|trans }}
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody data-prototype="{% filter escape %}{% include 'IntractoSecretSantaBundle:Helpers:prototypeWishlist.html.twig' with {'item': form.wishlistItems.vars['prototype']} %}{% endfilter %}">
                    {% if form.wishlistItems |length == 0 %}
                        <tr class="noitems">
                            <td colspan="3">{{ 'entry.wishlist_empty'|trans }}</td>
                        </tr>
                    {% else %}
                        {% for item in form.wishlistItems %}
                            <tr class="wishlistitem">
                                <td {% if form_errors(item.rank) %}class="error"{% endif %}>{{ form_widget(item.rank) }}<span class="rank">{{ item.rank.vars.value }}</span></td>
                                <td {% if form_errors(item.description) %}class="error"{% endif %}>{{ form_widget(item.description, {'attr': {'class': 'wishlistitem-description'} }) }}</td>
                                <td style="text-align: right;">
                                    <button type="button" class="btn btn-mini btn-danger remove-entry"><i
                                                class="icon-minus-sign icon-white"></i> {{ 'btn.remove_item'|trans }}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            {% endif %}

            <p>
                <br><button type="submit" class="btn btn-large btn-primary">
                    <i class="icon-ok icon-white"></i> {{ 'btn.update_wishlist'|trans }}
                </button>
            </p>
            {{ form_end(form, {'render_rest': false}) }}
        </p>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8492783089085834"
             data-ad-slot="2437486509"
             data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/tinymce/tiny_mce.js') }}"></script>
    <script src="{{ asset('/tinymce/jquery.tinymce.js') }}"></script>
    {% javascripts
    '@IntractoSecretSantaBundle/Resources/public/js/wishlist.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}
