<h2>Results</h2>
{% if current_year != 'all' %}
    <div class="col-xs-12 col-md-6 report">
{% else %}
    <div class="col-xs-12 report">
{% endif %}
    <div class="report_inside">
        {% if current_year != 'all' %}
            <h3>Season {{ current_year }}-{{ current_year + 1 }}</h3>
        {% else %}
            <h3>All time results</h3>
        {% endif %}

        <table>
            <col width="50%">
            <col width="25%">
            <col width="25%">
            <tr>
                <td>Confirmed parties:</td>
                <td>{{ party_data['parties'] }}</td>
                {% if difference_party_data is defined and difference_party_data is not empty %}
                    {% if difference_party_data['party_count_difference'] > 0 %}
                        <td class="positive">+ {{ difference_party_data['party_count_difference'] }}</td>
                    {% elseif difference_party_data['party_count_difference'] == 0 %}
                        <td>0</td>
                    {% else %}
                        <td class="negative">{{ difference_party_data['party_count_difference'] }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr>
                <td>Total participants invited:</td>
                <td>{{ party_data['participants'] }}</td>
                {% if difference_party_data is defined and difference_party_data is not empty %}
                    {% if difference_party_data['participant_count_difference'] > 0 %}
                        <td class="positive">+ {{ difference_party_data['participant_count_difference'] }}</td>
                    {% elseif difference_party_data['participant_count_difference'] == 0 %}
                        <td>0</td>
                    {% else %}
                        <td class="negative">{{ difference_party_data['participant_count_difference'] }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr>
                <td>Confirmed participants:</td>
                <td>{{ party_data['confirmed_participants'][0]['confirmedParticipantCount'] }}</td>
                {% if difference_party_data is defined and difference_party_data is not empty %}
                    {% if difference_party_data['confirmed_participant_count_difference'] > 0 %}
                        <td class="positive">+ {{ difference_party_data['confirmed_participant_count_difference'] }}</td>
                    {% elseif difference_party_data['confirmed_participant_count_difference'] == 0 %}
                        <td>0</td>
                    {% else %}
                        <td class="negative">{{ difference_party_data['confirmed_participant_count_difference'] }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr>
                <td>Average amount of participants per party:</td>
                <td>{{ party_data['participant_average']|round }}</td>
                {% if difference_party_data is defined and difference_party_data is not empty %}
                    {% if difference_party_data['average_participants_difference']|round > 0 %}
                        <td class="positive">+ {{ difference_party_data['average_participants_difference']|round }}</td>
                    {% elseif difference_party_data['average_participants_difference']|round == 0 %}
                        <td>0</td>
                    {% else %}
                        <td class="negative">{{ difference_party_data['average_participants_difference']|round }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr>
                <td>Unique participants:</td>
                <td>{{ party_data['distinct_participants'][0]['distinctParticipantCount'] }}</td>
                {% if difference_party_data is defined and difference_party_data is not empty %}
                    {% if difference_party_data['distinct_participant_count_difference'] > 0 %}
                        <td class="positive">+ {{ difference_party_data['distinct_participant_count_difference'] }}</td>
                    {% elseif difference_party_data['distinct_participant_count_difference'] == 0 %}
                        <td>0</td>
                    {% else %}
                        <td class="negative">{{ difference_party_data['distinct_participant_count_difference'] }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr>
                <td>Amount of completed wishlists:</td>
                <td>{{ party_data['wishlist_average']|number_format(2, '.', '') }} %</td>
                {% if difference_party_data is defined and difference_party_data is not empty %}
                    {% if difference_party_data['average_wishlist_difference']|number_format(2, '.', '') > 0 %}
                        <td class="positive">+ {{ difference_party_data['average_wishlist_difference']|number_format(2, '.', '') }} %</td>
                    {% elseif difference_party_data['average_wishlist_difference']|number_format(2, '.', '') == 0 %}
                        <td>0.00%</td>
                    {% else %}
                        <td class="negative">{{ difference_party_data['average_wishlist_difference']|number_format(2, '.', '') }} %</td>
                    {% endif %}
                {% endif %}
            </tr>
        </table>
    </div>
</div>
{% if current_year == 'all' %}
    <div class="clearfix"></div>
{% endif %}
{% if current_year != 'all' %}
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Total (this season included)</h3>
            <table>
                <col width="50%">
                <col width="50%">
                <tr>
                    <td>Confirmed parties:</td>
                    <td>{{ party_data['total_parties'][0]['partyCount'] }}</td>
                </tr>
                <tr>
                    <td>Total participants invited:</td>
                    <td>{{ party_data['total_participants'][0]['totalParticipantCount'] }}</td>
                </tr>
                <tr>
                    <td>Confirmed participants:</td>
                    <td>{{ party_data['total_confirmed_participants'][0]['confirmedParticipantCount'] }}</td>
                </tr>
                <tr>
                    <td>Average amount of participants per party:</td>
                    <td>{{ party_data['total_participant_average']|round }}</td>
                </tr>
                <tr>
                    <td>Unique participants:</td>
                    <td>{{ party_data['total_distinct_participants'][0]['distinctParticipantCount'] }}</td>
                </tr>
                <tr>
                    <td>Amount of completed wishlists:</td>
                    <td>{{ party_data['total_wishlist_average']|number_format(2, '.', '') }} %</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Confirmed parties per month</h3>

            <div id="party_chart" style="width: 100%"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Total amount of confirmed parties (this season included)</h3>

            <div id="total_party_chart" style="width: 100%"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Confirmed participants per month</h3>

            <div id="participant_chart" style="width: 100%"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Total amount of confirmed participants (this season included)</h3>

            <div id="total_participant_chart" style="width: 100%"></div>
        </div>
    </div>
{% else %}
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Total parties created</h3>

            <div id="party_chart" style="width: 100%"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 report">
        <div class="report_inside">
            <h3>Total participants invited</h3>

            <div id="participant_chart" style="width: 100%"></div>
        </div>
    </div>
{% endif %}
</div>
