    {% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>Report</h1>

        <div id="visualization" style="width: 900px; height: 400px;"></div>

        <form method="get">
            <label for="maxresults">{{ 'static.report.max_results'|trans }}</label>
            <select name="max_results" id="maxresults">
                <option value="3" {% if options.maxResults == 3 %}selected{% endif %}>3</option>
                <option value="5" {% if options.maxResults == 5 %}selected{% endif %}>5</option>
                {% for i in 1..10 %}
                    <option value="{{ i }}0" {% if options.maxResults == i~'0' %}selected{% endif %}>{{ i }}0</option>
                {% endfor %}
            </select>

            <label for="from">{{ 'static.report.from'|trans }}</label>
            <input type="text" id="from" name="start_date" value="{{ options.startDate }}">
            <label for="to">{{ 'static.report.to'|trans }}</label>
            <input type="text" id="to" name="end_date" value="{{ options.endDate }}">

            <button>{{ 'static.report.submit'|trans }}</button>
        </form>

        {%  if analytics is defined %}
            <div id="piechart" style="width: 900px; height: 500px;"></div>
            {% if options.dimension == 'country' %}
                <div id="regions" style="width: 900px; height: 500px;"></div>
            {% endif %}
            <p style="text-align: center;">{{ 'static.report.total_visits'|trans }} <b>{{ analytics.totals }}</b>.</p>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {packages: ['corechart','geochart']});
    </script>
    <script type="text/javascript">
        $(function() {
            $( "#from" ).datepicker({
                defaultDate: "-6m",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: "yy-mm-dd",
                maxDate: "-1d",
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#to" ).datepicker({
                defaultDate: "-1d",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: "yy-mm-dd",
                maxDate: "-1d",
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
        function drawVisualization() {
            var data = google.visualization.arrayToDataTable([
                ['d', 'Pools'],
                {%  set totalpools = 0 %}
                ['2012-12-01', {{ totalpools }}],
                {% for pool in pools %}
                    {% set totalpools = totalpools + pool.created %}
                    ['{{ pool.sentdate }}', {{ totalpools }}],
                {% endfor %}
            ]);

            new google.visualization.LineChart(document.getElementById('visualization')).
                    draw(data, {curveType: "function",
                        width: 900, height: 400, colors: ['red']}
            );
        }

        {%  if analytics is defined %}
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['{{ options.dimension }}', '{{ options.metric }}'],
                    {% for dimension, visits in analytics[options.dimension] %}
                        ['{{ dimension }}', {{ visits }}],
                    {% endfor %}
                ]);


                var options = {
                    title: '{{ options.readableRequest() }}'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }

        {% if options.dimension == 'country' %}
            function drawRegionsMap() {

                var data = google.visualization.arrayToDataTable([
                    ['{{ options.dimension }}', '{{ options.metric }}'],
                    {% for dimension, metric in analytics[options.dimension] %}
                    ['{{ dimension }}', {{ metric }}],
                    {% endfor %}
                ]);

                var chart = new google.visualization.GeoChart(document.getElementById('regions'));

                chart.draw(data);
            }

            google.setOnLoadCallback(drawRegionsMap);
        {% endif %}

            google.setOnLoadCallback(drawChart);

        {% endif %}
        google.setOnLoadCallback(drawVisualization);
    </script>
{% endblock %}
