    {% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>Report</h1>

        <form method="get">
            <label for="maxresults">Max results</label>
            <select name="max_results" id="maxresults">
                <option value="3">3</option>
                <option value="5">5</option>
                {% for i in 1..10 %}
                    <option value="{{ i }}0" {% if i==10 %}selected{% endif %}>{{ i }}0</option>
                {% endfor %}
            </select>

            <h2>Select results from date</h2>
            <label for="from">From</label>
            <input type="text" id="from" name="start_date">
            <label for="to">to</label>
            <input type="text" id="to" name="end_date">

            <button>Submit</button>
        </form>

        <div id="visualization" style="width: 900px; height: 400px;"></div>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
        <div id="regions" style="width: 900px; height: 500px;"></div>
        <p style="text-align: center;">Total visits last month <b>{{ analytics.totals }}</b>.</p>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {packages: ['corechart','geochart']});
    </script>
    <script type="text/javascript">
        $(function() {
            $( "#from" ).datepicker({
                defaultDate: "-6m",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: "yy-mm-dd",
                maxDate: "-1d",
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#to" ).datepicker({
                defaultDate: "-1d",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: "yy-mm-dd",
                maxDate: "-1d",
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
        function drawVisualization() {
            var data = google.visualization.arrayToDataTable([
                ['d', 'Pools'],
                {%  set totalpools = 0 %}
                ['2012-12-01', {{ totalpools }}],
                {% for pool in pools %}
                    {% set totalpools = totalpools + pool.created %}
                    ['{{ pool.sentdate }}', {{ totalpools }}],
                {% endfor %}
            ]);

            new google.visualization.LineChart(document.getElementById('visualization')).
                    draw(data, {curveType: "function",
                        width: 900, height: 400, colors: ['red']}
            );
        }

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['countries', 'visits'],
                {% for country, visits in analytics.countries %}
                    ['{{ country }}', {{ visits }}],
                {% endfor %}
            ]);

            var options = {
                'title': 'Last month top visiting countries'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        function drawRegionsMap() {

            var data = google.visualization.arrayToDataTable([
                ['countries', 'visits'],
                {% for country, visits in analytics.countries %}
                ['{{ country }}', {{ visits }}],
                {% endfor %}
            ]);

            var options = {
                region: 'world',
                colorAxis: {colors: ['#D8D4D4', '#B3131B']},
                backgroundColor: '#fff',
                datalessRegionColor: '#eee',
                defaultColor: '#B3131B'
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions'));

            chart.draw(data, options);
        }

        google.setOnLoadCallback(drawChart);
        google.setOnLoadCallback(drawVisualization);
        google.setOnLoadCallback(drawRegionsMap);
    </script>
{% endblock %}
